@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url('../assets/fonts/Inter.var.woff2') format('woff2');
}

* {
  font-variation-settings: 'slnt' 0deg;
}
.italic {
  font-variation-settings: 'slnt' 10deg;
}




@tailwind base;

@tailwind components;

@tailwind utilities;

html {
  color: theme('colors.black');
}

.window-drag {
  -webkit-app-region: drag;
}

.window-no-drag {
  -webkit-app-region: no-drag;
}

.grid {
  display: grid;
}

.inline-grid {
  display: inline-grid;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.frappe-chart .chart-legend {
  display: none;
}






.formInner {
  display: flex;
  flex-wrap: wrap;
}

.formInner > div {
  width: 15%;
  padding: 15px;
}
.popupModelPrint {
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}
.printPopupMain {
  top: 0;
  left: 0;
}
.relativePrint{
  width: 100vw;
  height: 100vh;
}
.formInner > span {
  padding-bottom: 10px;
}
.noteInputs > input {
  width:100%
}
.totalBox { padding: 15px }
.formField label,.totalBox span {
  display: block;
  font-size: 14px;
  padding-bottom: 10px;
}
.formField {overflow: hidden;}
.formField input[type="text"],.formField input[type="email"],.formField input[type="tel"],.formField input[type="number"],
.totalBox input[type="text"],.totalBox input[type="email"],.totalBox input[type="tel"],.totalBox input[type="number"]  {
  background-color: rgba(244, 244, 246, 1);
  width: 100%;
  padding: 7px 10px;
  border-radius: 4px;
}

.formTitle h5 {
  font-size: 20px;
  font-weight: 600;
}

.formTitle {
  padding: 25px;
}


@media(max-width: 991px){
.formInner > div {
  width: 25%;
 }
}

@media(max-width: 767px){
.formInner > div {
  width: 50%;
 }
}


.autoHeight {
  height: calc(100vh - 120px);
  padding-bottom: 70px;
  overflow: auto;
}



::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}






select {
  /* Reset Select */
  appearance: none;
  outline: 0;
  height: 37px;
  border-radius: 5px;
  min-width: 100%;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: rgb(75, 75, 75);
  background-color: rgba(244, 244, 246, 1);
  background-image: none;
  cursor: pointer;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  border-radius: .25em;
  overflow: hidden;
}
/* Arrow */
.select::after {
  content: '';
  position: absolute;
  left: 18px;
  top: 50px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #000;
  clear: both;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}
.formSection {
  position: relative!important;
  padding-bottom: 200px;
}
#footerert{
  position: absolute;
  bottom: 0;
  width: 95%;
}
.avoidBreak{
  page-break-inside:auto;
  page-break-after:auto
}
table { page-break-inside:auto }
tr    { page-break-inside:auto; page-break-after:auto;  }
td    { page-break-inside:auto; page-break-after:auto }
.deleteButton{
  position: absolute;
  top: 5px;
  right: 5px;
  width: 18px;
  height: 18px;
  align-items: center;
  text-align: center;
  color: #f00;
  border: 1px solid #f00;
  font-size: 12px;
  border-radius: 50%;
}