<template>
  <div class="flex flex-col" v-if="doc">
    <PageHeader>
      <BackLink slot="title" />
      <template slot="actions">
        <Button
          v-if="showSave && isSaveVisible"
          type="primary"
          class="text-white text-xs ml-2"
          @click="onSaveClick"
        >
          {{ _('Save') }}
        </Button>
        <Button type="primary" class="text-white text-xs ml-2" @click="makePDF">
          {{ _('Print') }}
        </Button>
      </template>
    </PageHeader>
    <div class="flex justify-center flex-1 mb-8 mt-2" v-if="meta">
      <div
        class="
          border
          rounded-lg
          shadow
          autoHeight
          flex flex-col
          justify-between
        "
        style="width: 98%"
        ref="printContainer"
      >
        <div v-if="!isPrinting">
          <div class="mt-8 px-6">
            <h1 class="text-2xl font-semibold">
              {{
                doc._notInserted
                  ? doc.doctype === 'SalesInvoice'
                    ? _('Item')
                    : _('New Bill')
                  : doc.name
              }}
            </h1>
            <div class="flex justify-between mt-2">
              <div class="w-1/3">
                <FormControl
                  class="text-base"
                  input-class="bg-gray-100 p-2 text-lg font-semibold"
                  :df="meta.getField(partyField.fieldname)"
                  :value="doc[partyField.fieldname]"
                  :placeholder="partyField.label"
                  @change="(value) => doc.set(partyField.fieldname, value)"
                  @new-doc="
                    (party) => doc.set(partyField.fieldname, party.name)
                  "
                  :read-only="doc.submitted"
                />
                <FormControl
                  class="mt-2 text-base"
                  input-class="bg-gray-100 px-3 py-2 text-base"
                  :df="meta.getField('invoiceId')"
                  :value="doc.invoiceId"
                  :placeholder="'Title'"
                  @change="(value) => doc.set('invoiceId', value)"
                  :read-only="doc.submitted"
                />
              </div>
              <div class="w-1/3">
                <FormControl
                  input-class="bg-gray-100 px-3 py-2 text-base text-right"
                  :df="meta.getField('quentity')"
                  :value="doc.quentity"
                  :placeholder="'Quentity'"
                  @change="(value) => quentityChanged(value)"
                  :read-only="doc.submitted"
                />
                
                
                  <div class="formField mt-2">
                   
                    <select name="" placeholder="Old Quantity" id="oldQu" @change="(value) => quentityChanged(value, true)">
                     <option 
                       value="Select From Old"
                      >
                        Select From Old
                      </option>
                      <option 
                        v-for="(item, index) in oldQuentity"
                        :key="index"
                        :value="item"
                      >
                        {{ item }}
                      </option>
                    </select>
                  </div>
              </div>
            </div>
          </div>
          <div class="px-6 text-base"></div>
        </div>

        <div>
          <div class="formSection" v-if="!isPrinting">
            <div class="ib vt w33 tabw50 mw100">
              <div class="formBox">
                <div class="formTitle pb20">
                  <h5>Duplex Sheet</h5>
                </div>
                <div class="formInner">
                  <div class="formField">
                    <label for="Dlength">Length</label>
                    <input type="number" id="Dlength" name="" />
                  </div>
                  <div class="formField">
                    <label for="DBreath">Breath</label>
                    <input type="number" id="DBreath" name="" />
                  </div>
                  <div class="formField">
                    <label for="DGSM">GSM</label>
                    <select name="" id="DGSM">
                    <option value="">Select GSM</option>
                      <option
                        v-for="(item, index) in duplexData"
                        :key="index"
                        :value="item.title"
                      >
                        {{ item.title }}
                      </option>
                    </select>
                  </div>
                  <div class="formField">
                    <label for="Drate">1kg rate</label>
                    <input type="number" id="Drate" name="" />
                  </div>
                  <div class="formField">
                    <label for="DSheet">Qty Sheet</label>
                    <input type="number" id="DSheet" name="" />
                  </div>

                  <div class="formField">
                    <span class="bold">Total</span>
                    <input type="number" id="duplexTitle" name="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="ib vt w33 tabw50 mw100">
              <div class="formBox">
                <div class="formTitle pb20">
                  <h5>Liner</h5>
                </div>
                <div class="formInner">
                 <div class="formField">
                    <label for="lPly">Ply</label>

                    <select name="" id="lPly">
                      <option
                       value="3"
                      >
                        3 ply
                      </option>
                      <option
                       value="5"
                      >
                        5 ply
                      </option>
                    </select>
                  </div>
                  <div class="formField">
                    <label for="lLength">Length</label>
                    <input type="text" id="lLength" name="" />
                  </div>
                  <div class="formField">
                    <label for="lBreath">Breath</label>
                    <input type="text" id="lBreath" name="" />
                  </div>
                  <div class="formField">
                    <label for="lGSM">GSM</label>

                    <select name="" id="lGSM">
                     <option value="">Select GSM</option>
                      <option
                        v-for="(item, index) in linearData"
                        :key="index"
                        :value="item.title"
                      >
                        {{ item.title }}
                      </option>
                    </select>
                  </div>
                  <div class="formField">
                    <label for="lrate">1kg rate</label>
                    <input type="text" id="lrate" name="" />
                  </div>
                  <div class="formField">
                    <label for="lSheet">Qty Sheet</label>
                    <input type="text" id="lSheet" name="" />
                  </div>

                  <div class="formField">
                    <span class="bold">Total</span>
                    <input type="text" id="lTitle" name="" />
                  </div>
                </div>
                <div class="formInner linearSecond">
                  <div class="formField">
                    <label for="lLength2">Length</label>
                    <input type="text" id="lLength2" name="" />
                  </div>
                  <div class="formField">
                    <label for="lBreath2">Breath</label>
                    <input type="text" id="lBreath2" name="" />
                  </div>
                  <div class="formField">
                    <label for="lGSM2">GSM</label>

                    <select name="" id="lGSM2">
                     <option value="">Select GSM</option>
                      <option
                        v-for="(item, index) in linearData"
                        :key="index"
                        :value="item.title"
                      >
                        {{ item.title }}
                      </option>
                    </select>
                  </div>
                  <div class="formField">
                    <label for="lrate2">1kg rate</label>
                    <input type="text" id="lrate2" name="" />
                  </div>
                  <div class="formField">
                    <label for="lSheet2">Qty Sheet</label>
                    <input type="text" id="lSheet2" name="" />
                  </div>

                  <div class="formField">
                    <span class="bold">Total</span>
                    <input type="text" id="lTitle2" name="" />
                  </div>
                </div>
                <span v-if="isPrinting"> Note: {{ linearNote }} </span>
              </div>
            </div>
            <div class="ib vt w33 tabw50 mw100">
              <div class="formBox">
                <div class="formTitle pb20">
                  <h5>Printing Job</h5>
                </div>
                <div class="formInner">
                  <div class="formField">
                    <label for="printC">Print color</label>
                    <select name="" id="printC">
                     <option value="">Select Color</option>
                      <option
                        v-for="(item, index) in printData"
                        :key="index"
                        :value="item.title"
                      >
                        {{ item.title }}
                      </option>
                    </select>
                  </div>
                  <div class="formField">
                    <label for="jQty">Job Qty</label>
                    <input type="text" id="jQty" name="" />
                  </div>
                  <div class="formField">
                    <label for="pRate">Rate</label>
                    <input type="text" id="pRate" name="" />
                  </div>
                  <div class="formField">
                    <span class="bold">Total</span>
                    <input type="text" id="pTitle" name="" />
                  </div>
                </div>
                <span v-if="isPrinting"> Note: {{ printNote }} </span>
              </div>
            </div>
            <div class="ib vt w33 tabw50 mw100">
              <div class="formBox">
                <div class="formTitle pb20">
                  <h5>Foiling</h5>
                </div>
                <div class="formInner">
                  <div class="formField">
                    <label for="foilQty">Qty</label>
                    <input type="text" id="foilQty" name="" />
                  </div>
                  <div class="formField">
                    <label for="foilRate">Rate</label>
                    <input type="text" id="foilRate" name="" />
                  </div>

                  <div class="formField">
                    <span class="bold">Total</span>
                    <input type="text" id="foilTitle" name="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="ib vt w33 tabw50 mw100">
              <div class="formBox">
                <div class="formTitle pb20">
                  <h5>Glitter</h5>
                </div>
                <div class="formInner">
                  <div class="formField">
                    <label for="glitterQty">Qty</label>
                    <input type="text" id="glitterQty" name="" />
                  </div>
                  <div class="formField">
                    <label for="glitterRate">Rate</label>
                    <input type="text" id="glitterRate" name="" />
                  </div>

                  <div class="formField">
                    <span class="bold">Total</span>
                    <input type="text" id="glitterTitle" name="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="ib vt w33 tabw50 mw100">
              <div class="formBox">
                <div class="formTitle pb20">
                  <h5>UV</h5>
                </div>
                <div class="formInner">
                  <div class="formField">
                    <label for="uvQty">Qty</label>
                    <input type="text" id="uvQty" name="" />
                  </div>
                  <div class="formField">
                    <label for="uvRate">Rate</label>
                    <input type="text" id="uvRate" name="" />
                  </div>

                  <div class="formField">
                    <span class="bold">Total</span>
                    <input type="text" id="uvTitle" name="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="ib vt w33 tabw50 mw100">
              <div class="formBox">
                <div class="formTitle pb20">
                  <h5>Lamination</h5>
                </div>
                <div class="formInner">
                  <div class="formField">
                    <label for="lamType">Lamination</label>
                    <select name="" id="lamType">
                     <option value="">Select Lamination</option>
                      <option
                        v-for="(item, index) in lamData"
                        :key="index"
                        :value="item.title"
                      >
                        {{ item.title }}
                      </option>
                    </select>
                  </div>
                  <div class="formField">
                    <label for="lamLength">Length</label>
                    <input type="text" id="lamLength" name="" />
                  </div>
                  <div class="formField">
                    <label for="lamBreath">Breath</label>
                    <input type="text" id="lamBreath" name="" />
                  </div>
                  <div class="formField">
                    <label for="lamQty">Sheet Qty</label>
                    <input type="text" id="lamQty" name="" />
                  </div>
                  <div class="formField">
                    <label for="lamRate">Rate</label>
                    <input type="text" id="lamRate" name="" />
                  </div>

                  <div class="formField">
                    <span class="bold">Total</span>
                    <input type="text" id="lamTitle" name="" />
                  </div>
                </div>
                <span v-if="isPrinting"> Note: {{ laminationNote }} </span>
              </div>
            </div>
            <div class="ib vt w33 tabw50 mw100">
              <div class="formBox">
                <div class="formTitle pb20">
                  <h5>DPOP</h5>
                </div>
                <div class="formInner">
                  <div class="formField">
                    <label for="DPOPLength">Length</label>
                    <input type="text" id="DPOPLength" name="" />
                  </div>
                  <div class="formField">
                    <label for="DPOPBreath">Breath</label>
                    <input type="text" id="DPOPBreath" name="" />
                  </div>
                  <div class="formField">
                    <label for="DPOPQty">Sheet Qty</label>
                    <input type="text" id="DPOPQty" name="" />
                  </div>
                  <div class="formField">
                    <label for="DPOPRate">Rate</label>
                    <input type="text" id="DPOPRate" name="" />
                  </div>

                  <div class="formField">
                    <span class="bold">Total</span>
                    <input type="text" id="DPOPTitle" name="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="ib vt w33 tabw50 mw100">
              <div class="formBox">
                <div class="formTitle pb20">
                  <h5>Double Gumming</h5>
                </div>
                <div class="formInner">
                  <div class="formField">
                    <label for="dgLength">Length</label>
                    <input type="text" id="dgLength" name="" />
                  </div>
                  <div class="formField">
                    <label for="dgBreath">Breath</label>
                    <input type="text" id="dgBreath" name="" />
                  </div>
                  <div class="formField">
                    <label for="dgQty">Sheet Qty</label>
                    <input type="text" id="dgQty" name="" />
                  </div>
                  <div class="formField">
                    <label for="dgRate">Rate</label>
                    <input type="text" id="dgRate" name="" />
                  </div>

                  <div class="formField">
                    <span class="bold">Total</span>
                    <input type="text" id="dgTitle" name="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="ib vt w33 tabw50 mw100">
              <div class="formBox">
                <div class="formTitle pb20">
                  <h5>Plate charge</h5>
                </div>
                <div class="formInner">
                  <div class="formField">
                    <label for="plateQty">Qty</label>
                    <input type="text" id="plateQty" name="" />
                  </div>
                  <div class="formField">
                    <label for="plateRate">Plate Rate</label>
                    <input type="text" id="plateRate" name="" />
                  </div>

                  <div class="formField">
                    <span class="bold">Total</span>
                    <input type="text" id="plateTitle" name="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="ib vt w33 tabw50 mw100">
              <div class="formBox">
                <div class="formTitle pb20">
                  <h5>Sheet Pasting</h5>
                </div>
                <div class="formInner">
                  <div class="formField">
                    <label for="sheetType">Gum</label>
                    <select name="" id="sheetType">
                      <option
                       value="Running Gum"
                      >
                        Running Gum
                      </option>
                      <option
                       value="Silicate Gum"
                      >
                        Silicate Gum
                      </option>
                    </select>
                  </div>
                  <div class="formField">
                    <label for="pastingLength">Length</label>
                    <input type="text" id="pastingLength" name="" />
                  </div>
                  <div class="formField">
                    <label for="pastingBreath">Breath</label>
                    <input type="text" id="pastingBreath" name="" />
                  </div>
                  <div class="formField">
                    <label for="pastingQty">Sheet Qty</label>
                    <input type="text" id="pastingQty" name="" />
                  </div>
                  <div class="formField">
                    <label for="pastingRate">Rate</label>
                    <input type="text" id="pastingRate" name="" />
                  </div>
                  <div class="formField">
                    <label for="SheetRate">Rate</label>
                    <input type="text" id="SheetRate" name="" />
                  </div>
                  <div class="formField">
                    <label for="SheetQty">Qty</label>
                    <input type="text" id="SheetQty" name="" />
                  </div>

                  <div class="formField">
                    <span class="bold">Total</span>
                    <input type="text" id="sheetTitle" name="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="ib vt w33 tabw50 mw100">
              <div class="formBox">
                <div class="formTitle pb20">
                  <h5>Punching Sheet</h5>
                </div>
                <div class="formInner">
                  <div class="formField">
                    <label for="PunchingRate">Rate</label>
                    <input type="text" id="PunchingRate" name="" />
                  </div>
                  <div class="formField">
                    <label for="PunchingQty">Qty</label>
                    <input type="text" id="PunchingQty" name="" />
                  </div>

                  <div class="formField">
                    <span class="bold">Total</span>
                    <input type="text" id="PunchingTitle" name="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="ib vt w33 tabw50 mw100">
              <div class="formBox">
                <div class="formTitle pb20">
                  <h5>Pinning</h5>
                </div>
                <div class="formInner">
                  <div class="formField">
                    <label for="pinType">Pinning</label>
                    <select name="" id="pinType">
                     <option value="">Select Pin</option>
                      <option
                        v-for="(item, index) in pinData"
                        :key="index"
                        :value="item.title"
                      >
                        {{ item.title }}
                      </option>
                    </select>
                  </div>
                 
                  <div class="formField">
                    <label for="noRate">Rate</label>
                    <input type="text" id="noRate" name="" />
                  </div>
                  <div class="formField">
                    <label for="noQty">Qty</label>
                    <input type="text" id="noQty" name="" />
                  </div>

                  <div class="formField">
                    <span class="bold">Total</span>
                    <input type="text" id="noTitle" name="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="ib vt w33 tabw50 mw100">
              <div class="formBox">
                <div class="formTitle pb20">
                  <h5>Box Pasting</h5>
                </div>
                <div class="formInner">
                  <div class="formField">
                    <label for="pasteRate">Rate</label>
                    <input type="text" id="pasteRate" name="" />
                  </div>
                  <div class="formField">
                    <label for="pasteQty">Qty</label>
                    <input type="text" id="pasteQty" name="" />
                  </div>

                  <div class="formField">
                    <span class="bold">Total</span>
                    <input type="text" id="pasteTitle" name="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="ib vt w33 tabw50 mw100">
              <div class="formBox">
                <div class="formTitle pb20">
                  <h5>Packing & Transporation</h5>
                </div>
                <div class="formInner">
                  <div class="formField">
                    <label for="packingQty">Qty</label>
                    <input type="text" id="packingQty" name="" />
                  </div>
                  <div class="formField">
                    <label for="packingRate">Rate</label>
                    <input type="text" id="packingRate" name="" />
                  </div>

                  <div class="formField">
                    <span class="bold">Total</span>
                    <input type="text" id="packingTitle" name="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="ib vt w33 tabw50 mw100">
              <div class="formBox">
                <div class="formTitle pb20">
                  <h5>die</h5>
                </div>
                <div class="formInner">
                  <div class="formField">
                    <label for="dieQty">Qty</label>
                    <input type="text" id="dieQty" name="" />
                  </div>
                  <div class="formField">
                    <label for="dieRate">Rate</label>
                    <input type="text" id="dieRate" name="" />
                  </div>

                  <div class="formField">
                    <span class="bold">Total</span>
                    <input type="text" id="dieTitle" name="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="ib vt w33 tabw50 mw100">
              <div class="formBox">
                <div class="formTitle pb20">
                  <h5>Other Expense</h5>
                </div>
                <div class="formInner">
                  <div class="formField">
                    <label for="otherQty">Qty</label>
                    <input type="text" id="otherQty" name="" />
                  </div>
                  <div class="formField">
                    <label for="otherRate">Rate</label>
                    <input type="text" id="otherRate" name="" />
                  </div>

                  <div class="formField">
                    <span class="bold">Total</span>
                    <input type="text" id="otherTitle" name="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="ib vt w33 tabw50 mw100">
              <div class="formBox">
                <div class="formTitle pb20">
                  <h5>One Time Extra</h5>
                </div>
               
                <div class="formInner">
                  <div class="formField">
                    <label for="OTEplate">Plate Rs</label>
                    <input type="text" id="OTEplate" name="OTEplate" />
                  </div>
                  <div class="formField">
                    <label for="OTEdie">Die Rs</label>
                    <input type="text" id="OTEdie" name="OTEdie" />
                  </div>
                  <div class="formField">
                    <label for="OTEdesign">Design Rs</label>
                    <input type="text" id="OTEdesign" name="OTEdesign" />
                  </div>
                  <div class="formField">
                    <label for="OTEphotography">Photography Rs</label>
                    <input type="text" id="OTEphotography" name="OTEphotography" />
                  </div>
                  <div class="formField">
                    <label for="OTEblock">Block Rs</label>
                    <input type="text" id="OTEblock" name="OTEblock" />
                  </div>
                  <div class="formField">
                    <label for="OTEpositive">Positive Rs</label>
                    <input type="text" id="OTEpositive" name="OTEpositive" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="formSection mt-8 px-6" style="font-size:15px" v-if="isPrinting">
            <span class="items duplex"  style="margin-top:5px;display:block">
              <span class="title" style="font-weight:700;">Duplex Sheet</span>=> Size : <span class="boxValue"><span id="duplexL"></span> X <span id="duplexB"></span> </span>
              - GSM  <span class="boxValue"><span id="duplexG"></span></span> - Qty  <span class="boxValue"><span id="duplexQ"></span></span>
            </span>
            <span class="items linear"  style="margin-top:5px;display:block">
              <span class="title"  style="font-weight:700;">Liner</span> => Size :  <span class="boxValue"><span id="linearL"></span> X <span id="linearB"></span></span> - GSM  <span class="boxValue"><span id="linearG"></span></span> - Qty  <span class="boxValue"><span id="linearQ"></span></span>
            </span>
            <!-- <span class="items Lamination"  style="margin-top:5px;display:block">
              <span class="title"  style="font-weight:700;">Lamination</span> => Size : <span id="laminationL"></span>  *<span id="laminationB"></span>  - Qty <span id="laminationQ"></span>
            </span>
            <span class="items dpop"  style="margin-top:5px;display:block">
              <span class="title"  style="font-weight:700;">DPOP</span> => Size <span id="DPOPL"></span> * <span id="DPOPB"></span> - Qty <span id="DPOPQ"></span>
            </span>
            <span class="items DG"  style="margin-top:5px;display:block">
              <span class="title"  style="font-weight:700;">Double Gumming</span> => Size : <span id="DGL"></span> * <span id="DGB"></span> - Qty <span id="DGQ"></span>
            </span>
            <span class="items SP"  style="margin-top:5px;display:block">
              <span class="title"  style="font-weight:700;">Sheet Pasting</span> => Size : <span id="SPL"></span> * <span id="SPB"></span> - Qty <span id="SPQ"></span>
            </span>
            <span class="items Pinning" style="margin-top:5px;display:block">
              <span class="title"  style="font-weight:700;">Pinning</span> : Pins <span id="pin"></span> - Qty <span id="pinQ"></span> <br>
            </span> -->
            <br>
        
            <h3 style="font-size: 18px; font-weight:700; margin-bottom:10px; border-bottom: 1px solid #000">Notes</h3>
            
            <span v-if="isPrinting && duplexNote"  style="margin-top:5px;display:block"><span class="title" style="font-weight:700"> Duplex:</span> {{ duplexNote }} </span>

            <span v-if="isPrinting && linearNote"  style="margin-top:5px;display:block"> <span class="title"  style="font-weight:700">Liner:</span> {{ linearNote }} </span>

            <span v-if="isPrinting && printNote"  style="margin-top:5px;display:block"> <span class="title"  style="font-weight:700">Print:</span> {{ printNote }} </span>
            <span v-if="isPrinting && FoilingNote"  style="margin-top:5px;display:block"> <span class="title"  style="font-weight:700">Foiling:</span> {{ FoilingNote }} </span>
            <span v-if="isPrinting && GlitterNote"  style="margin-top:5px;display:block"> <span class="title"  style="font-weight:700">Glitter:</span> {{ GlitterNote }} </span>
            <span v-if="isPrinting && UVNote"  style="margin-top:5px;display:block"> <span class="title"  style="font-weight:700">UV:</span> {{ UVNote }} </span>
            <span v-if="isPrinting && DPOPNote"  style="margin-top:5px;display:block"> <span class="title"  style="font-weight:700">DPOP:</span> {{ DPOPNote }} </span>
            <span v-if="isPrinting && DoubleGummingNote"  style="margin-top:5px;display:block"> <span class="title"  style="font-weight:700">Double Gumming:</span> {{ DoubleGummingNote }} </span>
            <span v-if="isPrinting && PlatechargeNote"  style="margin-top:5px;display:block"> <span class="title"  style="font-weight:700">Plate charge:</span> {{ PlatechargeNote }} </span>
            <span v-if="isPrinting && SheetPastingNote"  style="margin-top:5px;display:block"> <span class="title"  style="font-weight:700">Sheet Pasting:</span> {{ SheetPastingNote }} </span>
            <span v-if="isPrinting && PunchingSheetNote"  style="margin-top:5px;display:block"> <span class="title"  style="font-weight:700">Punching Sheet:</span> {{ PunchingSheetNote }} </span>
            <span v-if="isPrinting && PinningNote"  style="margin-top:5px;display:block"> <span class="title"  style="font-weight:700">Pinning:</span> {{ PinningNote }} </span>
            <span v-if="isPrinting && BoxPastingNote"  style="margin-top:5px;display:block"> <span class="title"  style="font-weight:700">Box Pasting:</span> {{ BoxPastingNote }} </span>
            <span v-if="isPrinting && PackingNote"  style="margin-top:5px;display:block"> <span class="title"  style="font-weight:700">Packing & Transporation:</span> {{ PackingNote }} </span>
            <span v-if="isPrinting && DieNote"  style="margin-top:5px;display:block"> <span class="title"  style="font-weight:700">Die:</span> {{ DieNote }} </span>

            <span v-if="isPrinting && laminationNote"  style="margin-top:5px;display:block"> <span class="title"  style="font-weight:700">Lamination:</span> {{ laminationNote }} </span>

            <span v-if="isPrinting && generalNote"  style="margin-top:5px;display:block"> <span class="title"  style="font-weight:700">General:</span> {{ generalNote }} </span>
            <br>
          </div>
        </div>

        <div class="px-6 mb-6 flex justify-between text-base" v-if="!isPrinting">
          <div
            class="
              flex
              pl-2
              justify-between
              py-3
              border-t
              text-green-600
              font-semibold
              text-base
            "
          >
            <div>{{ _('Grand Total') }}</div>

            <div>&nbsp; &nbsp; {{ formattedValue('grandTotal') }}</div>
          </div>
          <div
            class="
              flex
              pl-2
              justify-between
              py-3
              border-t
              text-green-600
              font-semibold
              text-base
            "
          >
            <div>{{ _('Per Box Total') }}</div>

            <div>&nbsp; &nbsp; {{ formattedValue('perBoxTotal') }}</div>
          </div>

        </div>
      </div>
    </div>

    <!--modal content-->
    <div v-if="isBeforePrint" class="absolute printPopupMain">
      <div v-if="isBeforePrint" class="relative relativePrint">
        <div
          v-if="isBeforePrint"
          class="
            absolute
            top-20
            mx-auto
            p-5
            border
            w-96
            shadow-lg
            rounded-md
            bg-white
            popupModelPrint
          "
        >
          <div class="mt-3 text-center">
            <h3 class="text-lg leading-6 font-medium text-gray-900">Notes</h3>

            <div class="grid border-b" style="grid-template-columns: 1.1fr 2fr">
              <div class="py-2 pl-4 flex text-gray-600">
                <div class="py-1">Duplx</div>
              </div>
              <div class="py-2 pr-4">
                <div size="small" class="">
                  <input
                    v-model="duplexNote"
                    type="text"
                    class="
                      px-2
                      py-1
                      focus:outline-none focus:bg-gray-200
                      rounded
                      w-full
                      text-gray-900
                      placeholder-gray-400
                    "
                  />
                </div>
                <!---->
              </div>
            </div>

            <div class="grid border-b" style="grid-template-columns: 1.1fr 2fr">
              <div class="py-2 pl-4 flex text-gray-600">
                <div class="py-1">Liner</div>
              </div>
              <div class="py-2 pr-4">
                <div size="small" class="">
                  <input
                    v-model="linearNote"
                    type="text"
                    class="
                      px-2
                      py-1
                      focus:outline-none focus:bg-gray-200
                      rounded
                      w-full
                      text-gray-900
                      placeholder-gray-400
                    "
                  />
                </div>
                <!---->
              </div>
            </div>

            <div class="grid border-b" style="grid-template-columns: 1.1fr 2fr">
              <div class="py-2 pl-4 flex text-gray-600">
                <div class="py-1">Print Job</div>
              </div>
              <div class="py-2 pr-4">
                <div size="small" class="">
                  <input
                    v-model="printNote"
                    type="text"
                    class="
                      px-2
                      py-1
                      focus:outline-none focus:bg-gray-200
                      rounded
                      w-full
                      text-gray-900
                      placeholder-gray-400
                    "
                  />
                </div>
                <!---->
              </div>
            </div>
            <div class="grid border-b" style="grid-template-columns: 1.1fr 2fr">
              <div class="py-2 pl-4 flex text-gray-600">
                <div class="py-1">Lamination</div>
              </div>
              <div class="py-2 pr-4">
                <div size="small" class="">
                  <input
                    v-model="laminationNote"
                    type="text"
                    class="
                      px-2
                      py-1
                      focus:outline-none focus:bg-gray-200
                      rounded
                      w-full
                      text-gray-900
                      placeholder-gray-400
                    "
                  />
                </div>
                <!---->
              </div>
            </div>



<!-- New notes here -->


  <div class="grid border-b" style="grid-template-columns: 1.1fr 2fr">
              <div class="py-2 pl-4 flex text-gray-600">
                <div class="py-1">Foiling Note</div>
              </div>
              <div class="py-2 pr-4">
                <div size="small" class="">
                  <input
                    v-model="FoilingNote"
                    type="text"
                    class="
                      px-2
                      py-1
                      focus:outline-none focus:bg-gray-200
                      rounded
                      w-full
                      text-gray-900
                      placeholder-gray-400
                    "
                  />
                </div>
                <!---->
              </div>
            </div>

  <div class="grid border-b" style="grid-template-columns: 1.1fr 2fr">
              <div class="py-2 pl-4 flex text-gray-600">
                <div class="py-1">Glitter Note</div>
              </div>
              <div class="py-2 pr-4">
                <div size="small" class="">
                  <input
                    v-model="GlitterNote"
                    type="text"
                    class="
                      px-2
                      py-1
                      focus:outline-none focus:bg-gray-200
                      rounded
                      w-full
                      text-gray-900
                      placeholder-gray-400
                    "
                  />
                </div>
                <!---->
              </div>
            </div>

  <div class="grid border-b" style="grid-template-columns: 1.1fr 2fr">
              <div class="py-2 pl-4 flex text-gray-600">
                <div class="py-1">UV Note</div>
              </div>
              <div class="py-2 pr-4">
                <div size="small" class="">
                  <input
                    v-model="UVNote"
                    type="text"
                    class="
                      px-2
                      py-1
                      focus:outline-none focus:bg-gray-200
                      rounded
                      w-full
                      text-gray-900
                      placeholder-gray-400
                    "
                  />
                </div>
                <!---->
              </div>
            </div>

  <div class="grid border-b" style="grid-template-columns: 1.1fr 2fr">
              <div class="py-2 pl-4 flex text-gray-600">
                <div class="py-1">DPOP Note</div>
              </div>
              <div class="py-2 pr-4">
                <div size="small" class="">
                  <input
                    v-model="DPOPNote"
                    type="text"
                    class="
                      px-2
                      py-1
                      focus:outline-none focus:bg-gray-200
                      rounded
                      w-full
                      text-gray-900
                      placeholder-gray-400
                    "
                  />
                </div>
                <!---->
              </div>
            </div>

  <div class="grid border-b" style="grid-template-columns: 1.1fr 2fr">
              <div class="py-2 pl-4 flex text-gray-600">
                <div class="py-1">Gumming Note</div>
              </div>

              <div class="py-2 pr-4">
                <div size="small" class="">
                  <input
                    v-model="DoubleGummingNote"
                    type="text"
                    class="
                      px-2
                      py-1
                      focus:outline-none focus:bg-gray-200
                      rounded
                      w-full
                      text-gray-900
                      placeholder-gray-400
                    "
                  />
                </div>
                <!---->
              </div>
            </div>

  <div class="grid border-b" style="grid-template-columns: 1.1fr 2fr">
              <div class="py-2 pl-4 flex text-gray-600">
                <div class="py-1">Plate charge Note</div>
              </div>
              <div class="py-2 pr-4">
                <div size="small" class="">
                  <input
                    v-model="PlatechargeNote"
                    type="text"
                    class="
                      px-2
                      py-1
                      focus:outline-none focus:bg-gray-200
                      rounded
                      w-full
                      text-gray-900
                      placeholder-gray-400
                    "
                  />
                </div>
                <!---->
              </div>
            </div>


  <div class="grid border-b" style="grid-template-columns: 1.1fr 2fr">
              <div class="py-2 pl-4 flex text-gray-600">
                <div class="py-1">Pasting Note</div>
              </div>
              <div class="py-2 pr-4">
                <div size="small" class="">
                  <input
                    v-model="SheetPastingNote"
                    type="text"
                    class="
                      px-2
                      py-1
                      focus:outline-none focus:bg-gray-200
                      rounded
                      w-full
                      text-gray-900
                      placeholder-gray-400
                    "
                  />
                </div>
                <!---->
              </div>
            </div>



  <div class="grid border-b" style="grid-template-columns: 1.1fr 2fr">
              <div class="py-2 pl-4 flex text-gray-600">
                <div class="py-1">Punching Note</div>
              </div>
              <div class="py-2 pr-4">
                <div size="small" class="">
                  <input
                    v-model="PunchingSheetNote"
                    type="text"
                    class="
                      px-2
                      py-1
                      focus:outline-none focus:bg-gray-200
                      rounded
                      w-full
                      text-gray-900
                      placeholder-gray-400
                    "
                  />
                </div>
                <!---->
              </div>
            </div>


  <div class="grid border-b" style="grid-template-columns: 1.1fr 2fr">
              <div class="py-2 pl-4 flex text-gray-600">
                <div class="py-1">Pinning Note</div>
              </div>
              <div class="py-2 pr-4">
                <div size="small" class="">
                  <input
                    v-model="PinningNote"
                    type="text"
                    class="
                      px-2
                      py-1
                      focus:outline-none focus:bg-gray-200
                      rounded
                      w-full
                      text-gray-900
                      placeholder-gray-400
                    "
                  />
                </div>
                <!---->
              </div>
            </div>



  <div class="grid border-b" style="grid-template-columns: 1.1fr 2fr">
              <div class="py-2 pl-4 flex text-gray-600">
                <div class="py-1">BoxPasting Note</div>
              </div>
              <div class="py-2 pr-4">
                <div size="small" class="">
                  <input
                    v-model="BoxPastingNote"
                    type="text"
                    class="
                      px-2
                      py-1
                      focus:outline-none focus:bg-gray-200
                      rounded
                      w-full
                      text-gray-900
                      placeholder-gray-400
                    "
                  />
                </div>
                <!---->
              </div>
            </div>





  <div class="grid border-b" style="grid-template-columns: 1.1fr 2fr">
              <div class="py-2 pl-4 flex text-gray-600">
                <div class="py-1">Packing Note</div>
              </div>
              <div class="py-2 pr-4">
                <div size="small" class="">
                  <input
                    v-model="PackingNote"
                    type="text"
                    class="
                      px-2
                      py-1
                      focus:outline-none focus:bg-gray-200
                      rounded
                      w-full
                      text-gray-900
                      placeholder-gray-400
                    "
                  />
                </div>
                <!---->
              </div>
            </div>



  <div class="grid border-b" style="grid-template-columns: 1.1fr 2fr">
              <div class="py-2 pl-4 flex text-gray-600">
                <div class="py-1">Die Note</div>
              </div>
              <div class="py-2 pr-4">
                <div size="small" class="">
                  <input
                    v-model="DieNote"
                    type="text"
                    class="
                      px-2
                      py-1
                      focus:outline-none focus:bg-gray-200
                      rounded
                      w-full
                      text-gray-900
                      placeholder-gray-400
                    "
                  />
                </div>
                <!---->
              </div>
            </div>



<!-- new notes end -->





            <div class="grid border-b" style="grid-template-columns: 1.1fr 2fr">
              <div class="py-2 pl-4 flex text-gray-600">
                <div class="py-1">generalNote</div>
              </div>
              <div class="py-2 pr-4">
                <div size="small" class="">
                  <input
                    v-model="generalNote"
                    type="text"
                    class="
                      px-2
                      py-1
                      focus:outline-none focus:bg-gray-200
                      rounded
                      w-full
                      text-gray-900
                      placeholder-gray-400
                    "
                  />
                </div>
                <!---->
              </div>
            </div>
            <div class="items-center px-4 py-3">
              <button
                id="ok-btn"
                type="primary"
                @click="printItem"
                class="
                  px-4
                  py-2
                  bg-green-500
                  text-white text-base
                  font-medium
                  rounded-md
                  w-full
                  shadow-sm
                  hover:bg-green-600
                  focus:outline-none focus:ring-2 focus:ring-green-300
                "
              >
                OK
              </button>
              <button
                id="cancel-btn"
                @click="isBeforePrint = false"
                class="
                  mt-3
                  px-4
                  py-2
                  bg-red-500
                  text-white text-base
                  font-medium
                  rounded-md
                  w-full
                  shadow-sm
                  hover:bg-green-600
                  focus:outline-none focus:ring-2 focus:ring-green-300
                "
              >
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>

import frappe from 'frappejs';
import PageHeader from '@/components/PageHeader';
import Button from '@/components/Button';
import FormControl from '@/components/Controls/FormControl';
import DropdownWithActions from '@/components/DropdownWithActions';
import BackLink from '@/components/BackLink';
import { openSettings } from '@/utils';
import { makePDF } from '@/utils';
import { remote } from 'electron';
import {
  handleErrorWithDialog,
  getActionsForDocument,
  showMessageDialog,
} from '@/utils';

export default {
  name: 'InvoiceForm',
  props: ['doctype', 'name'],
  components: {
    PageHeader,
    Button,
    FormControl,
    DropdownWithActions,
    BackLink,
  },
  provide() {
    return {
      doctype: this.doctype,
      name: this.name,
    };
  },
  data() {
    return {
      doc: null,
      printSettings: null,
      isBeforePrint: false,
      isPrinting: false,
      isSaveVisible: true,
      duplexData: [],
      linearData: [],
      printData: [],
      lamData: [],
      sheetData: [],
      pinData: [],
      generalNote: '',
      duplexNote: '',
      linearNote: '',
      printNote: '',
      laminationNote: '',
      oldQuentity: '',
      companyName: null,
FoilingNote: '',
GlitterNote: '',
UVNote: '',
DPOPNote: '',
DoubleGummingNote: '',
PlatechargeNote: '',
SheetPastingNote: '',
PunchingSheetNote: '',
PinningNote: '',
BoxPastingNote: '',
PackingNote: '',
DieNote: '',



    };
  },
  computed: {
    meta() {
      return frappe.getMeta(this.doctype);
    },
    partyField() {
      let fieldname = {
        SalesInvoice: 'customer',
        PurchaseInvoice: 'supplier',
      }[this.doctype];
      return this.meta.getField(fieldname);
    },
    address() {
      return this.printSettings && this.printSettings.getLink('address');
    },
    showSave() {
      return this.doc && (this.doc._notInserted || this.doc._dirty);
    },
    actions() {
      return getActionsForDocument(this.doc);
    },
  },
  async mounted() {
   setInterval(async () => {
    var duplexStr = localStorage.getItem('duplex');
    var linearStr = localStorage.getItem('linear');
    var print = localStorage.getItem('print');
    var laminate = localStorage.getItem('laminate');
    var sheetPasting = localStorage.getItem('sheetPasting');
    var pinning = localStorage.getItem('pinning');
    this.duplexData = duplexStr ? JSON.parse(duplexStr) : [];
    this.linearData = linearStr ? JSON.parse(linearStr) : [];
    this.printData = linearStr ? JSON.parse(print) : [];
    this.lamData = linearStr ? JSON.parse(laminate) : [];
    this.sheetData = linearStr ? JSON.parse(sheetPasting) : [];
    this.pinData = linearStr ? JSON.parse(pinning) : [];
  let allDatata;

  if( this.doc) {
    allDatata = await this.doc.get('allData');
  }
       const priceData = allDatata ? JSON.parse(allDatata) : {};
      this.oldQuentity = [];
      for (let a in priceData) {
        this.oldQuentity.push(a);
      }

   }, 500);

    try {
      this.doc = await frappe.getDoc(this.doctype, this.name);
   setTimeout(async() => {
 let quentity = await this.doc.get('quentity');
      this.quentityChanged(quentity);
   }, 1500);   
      this.isSaveVisible = false;
       setTimeout(() => {
        this.isSaveVisible = true;
      }, 3000);
      let quentity = await this.doc.get('quentity');
      this.quentityChanged(quentity);
      window.d = this.doc;
    } catch (error) {
      if (error instanceof frappe.errors.NotFoundError) {
        this.routeToList();
        return;
      }
      this.handleError(error);
    }
    this.printSettings = await frappe.getSingle('PrintSettings');
    this.companyName = (
      await frappe.getSingle('AccountingSettings')
    ).companyName;

    let query = this.$route.query;
    if (query.values && query.doctype === this.doctype) {
      this.doc.set(this.$router.currentRoute.query.values);
    }
    var that = this;

    $('#pastingLength').closest('.formField').hide();
    $('#pastingBreath').closest('.formField').hide();
    $('#pastingQty').closest('.formField').hide();
    $('#pastingRate').closest('.formField').hide();
    $('#SheetRate').closest('.formField').show();
    $('#SheetQty').closest('.formField').show();
    $('.linearSecond').hide();
    // Start calculation
    $('#sheetType').on('change', function () {
      var sel = $('#sheetType').val();
      if (sel.toUpperCase() === 'RUNNING GUM') {
        $('#pastingLength').closest('.formField').hide();
        $('#pastingBreath').closest('.formField').hide();
        $('#pastingQty').closest('.formField').hide();
        $('#pastingRate').closest('.formField').hide();
        $('#SheetRate').closest('.formField').show();
        $('#SheetQty').closest('.formField').show();
      } else {
        $('#pastingLength').closest('.formField').show();
        $('#pastingBreath').closest('.formField').show();
        $('#pastingQty').closest('.formField').show();
        $('#pastingRate').closest('.formField').show();
        $('#SheetRate').closest('.formField').hide();
        $('#SheetQty').closest('.formField').hide();
      }
    });
    $('#Dlength').on('keyup', function () {
      duplexCalculation();
    });
    $('#DBreath').on('keyup', function () {
      duplexCalculation();
    });
    $('#DGSM').on('change', function () {
      duplexCalculation();
    });
    $('#Drate').on('keyup', function () {
      duplexCalculation();
    });
    $('#DSheet').on('keyup', function () {
      duplexCalculation();
    });

    function duplexCalculation() {
      var length = $('#Dlength').val();
      var DBreath = $('#DBreath').val();
      var DGSM = $('#DGSM').val();
      for (let i of that.duplexData) {
        if (i.title == DGSM) {
          DGSM = i.value;
        }
      }
      var Drate = $('#Drate').val();
      var DSheet = $('#DSheet').val();
      var dtotal = duplexSheet(length, DBreath, DGSM, Drate, DSheet);
      $('#duplexTitle').val(dtotal.toFixed(6));
    }

    function duplexSheet(l, b, g, kr, q) {
      if (l && b && g && kr && q) {
        var c = l * b;
        var d = c * g;
        var e = d / 1550;
        var f = e * kr;
        var h = f / 1000;
        var i = h * q;
        return i;
      } else {
        return 0;
      }
    }

    // duplex logic end

    // linear logic start

    $('#lLength').on('keyup', function () {
      linearCalculation();
    });
    $('#lBreath').on('keyup', function () {
      linearCalculation();
    });
    $('#lGSM').on('change', function () {
      linearCalculation();
    });
    $('#lPly').on('change', function () {
     var selected = $('#lPly').val()
     if (selected == 3) {
      $('.linearSecond').hide();
      $('#lLength2').val('');
      $('#lBreath2').val('');
      $('#lGSM2').val('');
      $('#lrate2').val('');
      $('#lSheet').val('');
     } else {
      $('.linearSecond').show();
     }
    });
    $('#lrate').on('keyup', function () {
      linearCalculation();
    });
    $('#lSheet').on('keyup', function () {
      linearCalculation();
    });
    // linear logic start

    $('#lLength2').on('keyup', function () {
      linearCalculation2();
    });
    $('#lBreath2').on('keyup', function () {
      linearCalculation2();
    });
    $('#lGSM2').on('keyup', function () {
      linearCalculation2();
    });
    $('#lrate2').on('keyup', function () {
      linearCalculation2();
    });
    $('#lSheet2').on('keyup', function () {
      linearCalculation2();
    });

    function linearCalculation() {
      var lLength = $('#lLength').val();
      var lBreath = $('#lBreath').val();
      var lgsm = $('#lGSM').val();
      for (let i of that.linearData) {
        if (i.title == lgsm) {
          lgsm = i.value;
        }
      }
      var lrate = $('#lrate').val();
      var lSheet = $('#lSheet').val();
      var ltotal = duplexSheet(lLength, lBreath, lgsm, lrate, lSheet);
      $('#lTitle').val(ltotal.toFixed(6));
    }
    function linearCalculation2() {
      var lLength = $('#lLength2').val();
      var lBreath = $('#lBreath2').val();
      var lgsm = $('#lGSM2').val();
      for (let i of that.linearData) {
        if (i.title == lgsm) {
          lgsm = i.value;
        }
      }
      var lrate = $('#lrate2').val();
      var lSheet = $('#lSheet2').val();
      var ltotal = duplexSheet(lLength, lBreath, lgsm, lrate, lSheet);
      $('#lTitle2').val(ltotal.toFixed(6));
    }

    //  linear job login end

    //  printing job start

    $('#jQty').on('keyup', function () {
      printingJobCalculation();
    });

    $('#pRate').on('keyup', function () {
      printingJobCalculation();
    });

    function printingJobCalculation() {
      var jQty = $('#jQty').val();
      var pRate = $('#pRate').val();
      var total = printingJob(jQty, pRate);
      $('#pTitle').val(total.toFixed(6));
    }

    function printingJob(l, r) {
      if (l && r) {
        var total = l * r;
        return total;
      } else {
        return 0;
      }
    }

    // printing job done
    // Foiling

    $('#foilQty').on('keyup', function () {
      foilCalculation();
    });

    $('#foilRate').on('keyup', function () {
      foilCalculation();
    });

    function foilCalculation() {
      var jQty = $('#foilQty').val();
      var pRate = $('#foilRate').val();
      var total = foiling(jQty, pRate);
      $('#foilTitle').val(total.toFixed(6));
    }

    function foiling(l, r) {
      if (l && r) {
        var total = l * r;
        return total;
      } else {
        return 0;
      }
    }

    // End foiling

    // Glitter

    $('#glitterQty').on('keyup', function () {
      glitterCalculation();
    });

    $('#glitterRate').on('keyup', function () {
      glitterCalculation();
    });

    function glitterCalculation() {
      var jQty = $('#glitterQty').val();
      var pRate = $('#glitterRate').val();
      var total = glitter(jQty, pRate);
      $('#glitterTitle').val(total.toFixed(6));
    }

    function glitter(l, r) {
      if (l && r) {
        var total = l * r;
        return total;
      } else {
        return 0;
      }
    }

    // End Glitter

    // uv

    $('#uvQty').on('keyup', function () {
      uvCalculation();
    });

    $('#uvRate').on('keyup', function () {
      uvCalculation();
    });

    function uvCalculation() {
      var jQty = $('#uvQty').val();
      var pRate = $('#uvRate').val();
      var total = uv(jQty, pRate);
      $('#uvTitle').val(total.toFixed(6));
    }

    function uv(l, r) {
      if (l && r) {
        var total = l * r;
        return total;
      } else {
        return 0;
      }
    }

    // End uv

    // lamination job start
    $('#lamLength').on('keyup', function () {
      laminationCalculation();
    });

    $('#lamBreath').on('keyup', function () {
      laminationCalculation();
    });

    $('#lamQty').on('keyup', function () {
      laminationCalculation();
    });

    $('#lamRate').on('keyup', function () {
      laminationCalculation();
    });

    function laminationCalculation() {
      var lamLength = $('#lamLength').val();
      var lamBreath = $('#lamBreath').val();
      var lamQty = $('#lamQty').val();
      var lamRate = $('#lamRate').val();
      var lamTotal = lamination(lamLength, lamBreath, lamQty, lamRate);
      $('#lamTitle').val(lamTotal.toFixed(6));
    }

    function lamination(l, b, s, r) {
      if (l && s && b && r) {
        var a = l * b;
        var c = a / 100;
        var d = c * s;
        var total = d * r;
        return total;
      } else {
        return 0;
      }
    }

    // lamination end

    // DPOP job start
    $('#DPOPLength').on('keyup', function () {
      DPOPCalculation();
    });

    $('#DPOPBreath').on('keyup', function () {
      DPOPCalculation();
    });

    $('#DPOPQty').on('keyup', function () {
      DPOPCalculation();
    });

    $('#DPOPRate').on('keyup', function () {
      DPOPCalculation();
    });

    function DPOPCalculation() {
      var DPOPLength = $('#DPOPLength').val();
      var DPOPBreath = $('#DPOPBreath').val();
      var DPOPQty = $('#DPOPQty').val();
      var DPOPRate = $('#DPOPRate').val();
      var DPOPTotal = DPOP(DPOPLength, DPOPBreath, DPOPQty, DPOPRate);
      $('#DPOPTitle').val(DPOPTotal.toFixed(6));
    }

    function DPOP(l, b, s, r) {
      if (l && s && b && r) {
        var a = l * b;
        var c = a / 100;
        var d = c * s;
        var total = d * r;
        return total;
      } else {
        return 0;
      }
    }

    // DPOP end

    // dg job start
    $('#dgLength').on('keyup', function () {
      dgCalculation();
    });

    $('#dgBreath').on('keyup', function () {
      dgCalculation();
    });

    $('#dgQty').on('keyup', function () {
      dgCalculation();
    });

    $('#dgRate').on('keyup', function () {
      dgCalculation();
    });

    function dgCalculation() {
      var dgLength = $('#dgLength').val();
      var dgBreath = $('#dgBreath').val();
      var dgQty = $('#dgQty').val();
      var dgRate = $('#dgRate').val();
      var dgTotal = dg(dgLength, dgBreath, dgQty, dgRate);
      $('#dgTitle').val(dgTotal.toFixed(6));
    }

    function dg(l, b, s, r) {
      if (l && s && b && r) {
        var a = l * b;
        var c = a / 100;
        var d = c * s;
        var total = d * r;
        return total;
      } else {
        return 0;
      }
    }

    // dg end

    // plate charge start
    $('#plateQty').on('keyup', function () {
      plateChargeCalculation();
    });

    $('#plateRate').on('keyup', function () {
      plateChargeCalculation();
    });

    function plateChargeCalculation() {
      var plateQty = $('#plateQty').val();
      var plateRate = $('#plateRate').val();
      var total = printingJob(plateQty, plateRate);
      $('#plateTitle').val(total.toFixed(6));
    }

    // plate charge end
    // plate charge start
    $('#PunchingQty').on('keyup', function () {
      PunchingChargeCalculation();
    });

    $('#PunchingRate').on('keyup', function () {
      PunchingChargeCalculation();
    });

    function PunchingChargeCalculation() {
      var PunchingQty = $('#PunchingQty').val();
      var PunchingRate = $('#PunchingRate').val();
      var total = sheetPastingCal(PunchingQty, PunchingRate);
      $('#PunchingTitle').val(total.toFixed(6));
    }

    // plate charge end

    // shhet pasting start
    $('#SheetRate').on('keyup', function () {
      sheetPastingCalculation();
    });

    $('#SheetQty').on('keyup', function () {
      sheetPastingCalculation();
    });

    $('#pastingLength').on('keyup', function () {
      pastingCalculation2();
    });

    $('#pastingBreath').on('keyup', function () {
      pastingCalculation2();
    });

    $('#pastingQty').on('keyup', function () {
      pastingCalculation2();
    });

    $('#pastingRate').on('keyup', function () {
      pastingCalculation2();
    });

    function pastingCalculation2() {
      var lamLength = $('#pastingLength').val();
      var lamBreath = $('#pastingBreath').val();
      var lamQty = $('#pastingQty').val();
      var lamRate = $('#pastingRate').val();
      var lamTotal = lamination(lamLength, lamBreath, lamQty, lamRate);
      $('#sheetTitle').val(lamTotal.toFixed(6));
    }

    function sheetPastingCalculation() {
      var sheetRate = $('#SheetRate').val();
      var sheetQty = $('#SheetQty').val();
      var total = sheetPastingCal(sheetQty, sheetRate);
      $('#sheetTitle').val(total.toFixed(6));
    }

    function sheetPastingCal(r, q) {
      if (r && q) {
        var d = r / 1000;
        var total = d * q;
        return total;
      } else {
        return 0;
      }
    }

    // sheet pasting end

    // pinning start
    $('#pinType').on('keyup', function () {
      pinningCalculation();
    });
    $('#noRate').on('keyup', function () {
      pinningCalculation();
    });
    $('#noQty').on('keyup', function () {
      pinningCalculation();
    });

    function pinningCalculation() {
      var noPin = $('#pinType').val();
      var noRate = $('#noRate').val();
      var noQty = $('#noQty').val();
      var total = pinningCal(noPin, noRate, noQty);
      $('#noTitle').val(total.toFixed(6));
    }

    function pinningCal(Nop, r, q) {
      if (Nop && r && q) {
        var total = Nop * r * q;
        return total;
      } else {
        return 0;
      }
    }

    // pinning end

    // pasting start
    $('#pasteRate').on('keyup', function () {
      pastingCalculation();
    });
    $('#pasteQty').on('keyup', function () {
      pastingCalculation();
    });

    function pastingCalculation() {
      var pasteRate = $('#pasteRate').val();
      var pasteQty = $('#pasteQty').val();
      var total = pasting(pasteRate, pasteQty);
      $('#pasteTitle').val(total.toFixed(6));
    }

    function pasting(r, q) {
      return (r / 1000) * q;
    }
    //     // pasting end

    // packing and transport start
    $('#packingQty').on('keyup', function () {
      packingTransportCalculation();
    });
    $('#packingRate').on('keyup', function () {
      packingTransportCalculation();
    });

    function packingTransportCalculation() {
      var packingQty = $('#packingQty').val();
      var packingRate = $('#packingRate').val();
      var total = packingTransport(packingQty, packingRate);
      $('#packingTitle').val(total.toFixed(6));
    }

    function packingTransport(q, r) {
      if (q && r) {
        var total = q * r;
        return total;
      } else {
        return 0;
      }
    }

    // packing and transport end

    //  die logic start

    $('#dieQty').on('keyup', function () {
      dieCalculation();
    });
    $('#dieRate').on('keyup', function () {
      dieCalculation();
    });

    function dieCalculation() {
      var dieQty = $('#dieQty').val();
      var dieRate = $('#dieRate').val();
      var total = die(dieQty, dieRate);
      $('#dieTitle').val(total.toFixed(6));
    }

    function die(q, r) {
      if (q && r) {
        var total = q * r;
        return total;
      } else {
        return 0;
      }
    }

    // die logic end

    //  other expanselogic start

    $('#otherQty').on('keyup', function () {
      otherExpanseCalculation();
    });
    $('#otherRate').on('keyup', function () {
      otherExpanseCalculation();
    });

    function otherExpanseCalculation() {
      var otherQty = $('#otherQty').val();
      var otherRate = $('#otherRate').val();
      var total = otherExpanse(otherQty, otherRate);
      $('#otherTitle').val(total.toFixed(6));
    }

    function otherExpanse(q, r) {
      if (q && r) {
        var total = q * r;
        return total;
      } else {
        return 0;
      }
    }

    setInterval(async () => {
      var duplexTitle = $('#duplexTitle').val();
      duplexTitle = Number(duplexTitle).toFixed(2);
      var lTitle = $('#lTitle').val();
      lTitle = Number(lTitle).toFixed(2);
      var lTitle2 = $('#lTitle2').val();
      lTitle2 = Number(lTitle2).toFixed(2);
      var pTitle = $('#pTitle').val();
      pTitle = Number(pTitle).toFixed(2);
      var lamTitle = $('#lamTitle').val();
      lamTitle = Number(lamTitle).toFixed(2);
      var glitterTitle = $('#glitterTitle').val();
      glitterTitle = Number(glitterTitle).toFixed(2);
      var uvTitle = $('#uvTitle').val();
      uvTitle = Number(uvTitle).toFixed(2);
      var foilTitle = $('#foilTitle').val();
      foilTitle = Number(foilTitle).toFixed(2);
      var DPOPTitle = $('#DPOPTitle').val();
      DPOPTitle = Number(DPOPTitle).toFixed(2);
      var dgTitle = $('#dgTitle').val();
      dgTitle = Number(dgTitle).toFixed(2);
      var plateTitle = $('#plateTitle').val();
      plateTitle = Number(plateTitle).toFixed(2);
      var PunchingTitle = $('#PunchingTitle').val();
      PunchingTitle = Number(PunchingTitle).toFixed(2);
      var sheetTitle = $('#sheetTitle').val();
      sheetTitle = Number(sheetTitle).toFixed(2);
      var noTitle = $('#noTitle').val();
      noTitle = Number(noTitle).toFixed(2);
      var pasteTitle = $('#pasteTitle').val();
      pasteTitle = Number(pasteTitle).toFixed(2);
      var packingTitle = $('#packingTitle').val();
      packingTitle = Number(packingTitle).toFixed(2);
      var dieTitle = $('#dieTitle').val();
      dieTitle = Number(dieTitle).toFixed(2);
      var otherTitle = $('#otherTitle').val();
      otherTitle = Number(otherTitle).toFixed(2);
      duplexTitle = duplexTitle ? Number(duplexTitle) : 0;
      lTitle = lTitle ? Number(lTitle) : 0;
      lTitle2 = lTitle2 ? Number(lTitle2) : 0;
      pTitle = pTitle ? Number(pTitle) : 0;
      lamTitle = lamTitle ? Number(lamTitle) : 0;
      plateTitle = plateTitle ? Number(plateTitle) : 0;
      PunchingTitle = PunchingTitle ? Number(PunchingTitle) : 0;
      sheetTitle = sheetTitle ? Number(sheetTitle) : 0;
      noTitle = noTitle ? Number(noTitle) : 0;
      pasteTitle = pasteTitle ? Number(pasteTitle) : 0;
      packingTitle = packingTitle ? Number(packingTitle) : 0;
      dieTitle = dieTitle ? Number(dieTitle) : 0;
      otherTitle = otherTitle ? Number(otherTitle) : 0;
      uvTitle = uvTitle ? Number(uvTitle) : 0;
      dgTitle = dgTitle ? Number(dgTitle) : 0;
      foilTitle = foilTitle ? Number(foilTitle) : 0;
      DPOPTitle = DPOPTitle ? Number(DPOPTitle) : 0;
      glitterTitle = glitterTitle ? Number(glitterTitle) : 0;
      var mainTotal =
        (duplexTitle ? duplexTitle : 0) +
        (lTitle ? lTitle : 0) +
        (lTitle2 ? lTitle2 : 0) +
        (pTitle ? pTitle : 0) +
        (lamTitle ? lamTitle : 0) +
        (plateTitle ? plateTitle : 0) +
        (PunchingTitle ? PunchingTitle : 0) +
        (sheetTitle ? sheetTitle : 0) +
        (noTitle ? noTitle : 0) +
        (pasteTitle ? pasteTitle : 0) +
        (packingTitle ? packingTitle : 0) +
        (dieTitle ? dieTitle : 0) +
        (otherTitle ? otherTitle : 0) +
        (glitterTitle ? glitterTitle : 0) +
        (uvTitle ? uvTitle : 0) +
        (foilTitle ? foilTitle : 0) +
        (DPOPTitle ? DPOPTitle : 0) +
        (dgTitle ? dgTitle : 0);
      let quentity = await this.doc.get('quentity');
      let allData = await this.doc.get('allData');
      let data = {};
      if (allData) {
        data = JSON.parse(allData);
      }
      // if (otherTitle > 0 &&
      //     duplexTitle > 0 &&
      //     lTitle > 0 &&
      //     pTitle > 0 &&
      //     lamTitle > 0 &&
      //     plateTitle > 0 &&
      //     sheetTitle > 0 &&
      //     noTitle > 0 &&
      //     pasteTitle > 0 &&
      //     packingTitle > 0 &&
      //     dieTitle > 0 &&
      //     otherTitle > 0) {

      var dataFQ = {
        length: $('#Dlength').val(),
        DBreath: $('#DBreath').val(),
        DGSM: $('#DGSM').val(),
        Drate: $('#Drate').val(),
        DSheet: $('#DSheet').val(),
        lLength: $('#lLength').val(),
        lPly: $('#lPly').val(),
        lBreath: $('#lBreath').val(),
        lgsm: $('#lGSM').val(),
        lrate: $('#lrate').val(),
        lSheet: $('#lSheet').val(),
        lLength2: $('#lLength2').val(),
        lBreath2: $('#lBreath2').val(),
        lgsm2: $('#lGSM2').val(),
        lrate2: $('#lrate2').val(),
        lSheet2: $('#lSheet2').val(),
        jQty: $('#jQty').val(),
        pRate: $('#pRate').val(),
        lamLength: $('#lamLength').val(),
        lamBreath: $('#lamBreath').val(),
        lamQty: $('#lamQty').val(),
        lamRate: $('#lamRate').val(),
        pastingLength: $('#pastingLength').val(),
        pastingBreath: $('#pastingBreath').val(),
        pastingQty: $('#pastingQty').val(),
        pastingRate: $('#pastingRate').val(),
        uvQty: $('#uvQty').val(),
        uvRate: $('#uvRate').val(),
        glitterQty: $('#glitterQty').val(),
        glitterRate: $('#glitterRate').val(),
        foilQty: $('#foilQty').val(),
        foilRate: $('#foilRate').val(),
        dgLength: $('#dgLength').val(),
        dgBreath: $('#dgBreath').val(),
        dgQty: $('#dgQty').val(),
        dgRate: $('#dgRate').val(),
        DPOPLength: $('#DPOPLength').val(),
        DPOPBreath: $('#DPOPBreath').val(),
        DPOPQty: $('#DPOPQty').val(),
        DPOPRate: $('#DPOPRate').val(),
        plateQty: $('#plateQty').val(),
        plateRate: $('#plateRate').val(),
        sheetRate: $('#SheetRate').val(),
        duplexNote: $('#duplexNote').val(),
        linearNote: $('#linearNote').val(),
        printjobNote: $('#printjobNote').val(),
        laminationNote: $('#laminationNote').val(),
        generalNote: $('#generalNote').val(),
        PunchingRate: $('#PunchingRate').val(),
        PunchingQty: $('#PunchingQty').val(),
        noPin: $('#noPin').val(),
        noRate: $('#noRate').val(),
        noQty: $('#noQty').val(),
        pasteRate: $('#pasteRate').val(),
        pasteQty: $('#pasteQty').val(),
        packingQty: $('#packingQty').val(),
        packingRate: $('#packingRate').val(),
        dieQty: $('#dieQty').val(),
        dieRate: $('#dieRate').val(),
        otherQty: $('#otherQty').val(),
        otherRate: $('#otherRate').val(),
        otherTitle: Number(otherTitle).toFixed(2),
        duplexTitle: duplexTitle ? Number(duplexTitle) : 0,
        lTitle: lTitle ? Number(lTitle) : 0,
        lTitle2: lTitle2 ? Number(lTitle2) : 0,
        pTitle: pTitle ? Number(pTitle) : 0,
        lamTitle: lamTitle ? Number(lamTitle) : 0,
        plateTitle: plateTitle ? Number(plateTitle) : 0,
        PunchingTitle: PunchingTitle ? Number(PunchingTitle) : 0,
        sheetTitle: sheetTitle ? Number(sheetTitle) : 0,
        noTitle: noTitle ? Number(noTitle) : 0,
        pasteTitle: pasteTitle ? Number(pasteTitle) : 0,
        packingTitle: packingTitle ? Number(packingTitle) : 0,
        dieTitle: dieTitle ? Number(dieTitle) : 0,
        otherTitle: otherTitle ? Number(otherTitle) : 0,
        dgTitle: dgTitle ? Number(dgTitle) : 0,
        glitterTitle: glitterTitle ? Number(glitterTitle) : 0,
        uvTitle: uvTitle ? Number(uvTitle) : 0,
        foilTitle: foilTitle ? Number(foilTitle) : 0,
        DPOPTitle: DPOPTitle ? Number(DPOPTitle) : 0,
        grandTotal: mainTotal ? mainTotal.toFixed(2) : 0.0,
      };
      // data[quentity] = dataFQ;
      // this.doc.set('allData', JSON.stringify(data));
      if (mainTotal > 0) {
        this.doc.set('grandTotal', mainTotal ? mainTotal.toFixed(2) : 0.0);
      }

      // }
    }, 2000);

    // End calculation
  },
  methods: {
    async onSaveClick() {
      this.isSaveVisible = false;
      var duplexTitle = $('#duplexTitle').val();
      duplexTitle = Number(duplexTitle).toFixed(2);
      var lTitle = $('#lTitle').val();
      lTitle = Number(lTitle).toFixed(2);
      var lTitle2 = $('#lTitle2').val();
      lTitle2 = Number(lTitle2).toFixed(2);
      var pTitle = $('#pTitle').val();
      pTitle = Number(pTitle).toFixed(2);
      var lamTitle = $('#lamTitle').val();
      lamTitle = Number(lamTitle).toFixed(2);
      var glitterTitle = $('#glitterTitle').val();
      glitterTitle = Number(glitterTitle).toFixed(2);
      var uvTitle = $('#uvTitle').val();
      uvTitle = Number(uvTitle).toFixed(2);
      var foilTitle = $('#foilTitle').val();
      foilTitle = Number(foilTitle).toFixed(2);
      var DPOPTitle = $('#DPOPTitle').val();
      DPOPTitle = Number(DPOPTitle).toFixed(2);
      var dgTitle = $('#dgTitle').val();
      dgTitle = Number(dgTitle).toFixed(2);
      var plateTitle = $('#plateTitle').val();
      plateTitle = Number(plateTitle).toFixed(2);
      var PunchingTitle = $('#PunchingTitle').val();
      PunchingTitle = Number(PunchingTitle).toFixed(2);
      var sheetTitle = $('#sheetTitle').val();
      sheetTitle = Number(sheetTitle).toFixed(2);
      var noTitle = $('#noTitle').val();
      noTitle = Number(noTitle).toFixed(2);
      var pasteTitle = $('#pasteTitle').val();
      pasteTitle = Number(pasteTitle).toFixed(2);
      var packingTitle = $('#packingTitle').val();
      packingTitle = Number(packingTitle).toFixed(2);
      var dieTitle = $('#dieTitle').val();
      dieTitle = Number(dieTitle).toFixed(2);
      var otherTitle = $('#otherTitle').val();
      otherTitle = Number(otherTitle).toFixed(2);
      duplexTitle = duplexTitle ? Number(duplexTitle) : 0;
      lTitle = lTitle ? Number(lTitle) : 0;
      lTitle2 = lTitle2 ? Number(lTitle2) : 0;
      pTitle = pTitle ? Number(pTitle) : 0;
      lamTitle = lamTitle ? Number(lamTitle) : 0;
      plateTitle = plateTitle ? Number(plateTitle) : 0;
      PunchingTitle = PunchingTitle ? Number(PunchingTitle) : 0;
      sheetTitle = sheetTitle ? Number(sheetTitle) : 0;
      noTitle = noTitle ? Number(noTitle) : 0;
      pasteTitle = pasteTitle ? Number(pasteTitle) : 0;
      packingTitle = packingTitle ? Number(packingTitle) : 0;
      dieTitle = dieTitle ? Number(dieTitle) : 0;
      otherTitle = otherTitle ? Number(otherTitle) : 0;
      uvTitle = uvTitle ? Number(uvTitle) : 0;
      dgTitle = dgTitle ? Number(dgTitle) : 0;
      foilTitle = foilTitle ? Number(foilTitle) : 0;
      DPOPTitle = DPOPTitle ? Number(DPOPTitle) : 0;
      glitterTitle = glitterTitle ? Number(glitterTitle) : 0;
      var mainTotal =
        (duplexTitle ? duplexTitle : 0) +
        (lTitle ? lTitle : 0) +
        (lTitle2 ? lTitle2 : 0) +
        (pTitle ? pTitle : 0) +
        (lamTitle ? lamTitle : 0) +
        (plateTitle ? plateTitle : 0) +
        (PunchingTitle ? PunchingTitle : 0) +
        (sheetTitle ? sheetTitle : 0) +
        (noTitle ? noTitle : 0) +
        (pasteTitle ? pasteTitle : 0) +
        (packingTitle ? packingTitle : 0) +
        (dieTitle ? dieTitle : 0) +
        (otherTitle ? otherTitle : 0) +
        (glitterTitle ? glitterTitle : 0) +
        (uvTitle ? uvTitle : 0) +
        (foilTitle ? foilTitle : 0) +
        (DPOPTitle ? DPOPTitle : 0) +
        (dgTitle ? dgTitle : 0);
      this.doc.set('grandTotal', mainTotal ? mainTotal.toFixed(2) : 0.0);
      var perBoxTotala = this.doc.get('grandTotal') / this.doc.get('quentity');
      let quentity = await this.doc.get('quentity');
      let allData = await this.doc.get('allData');
      let data = {};
      if (allData) {
        data = JSON.parse(allData);
      }
      var dataFQ = {
        length: $('#Dlength').val(),
        DBreath: $('#DBreath').val(),
        DGSM: $('#DGSM').val(),
        Drate: $('#Drate').val(),
        DSheet: $('#DSheet').val(),
        lLength: $('#lLength').val(),
        lPly: $('#lPly').val(),
        lBreath: $('#lBreath').val(),
        lgsm: $('#lGSM').val(),
        lrate: $('#lrate').val(),
        lSheet: $('#lSheet').val(),
        lLength2: $('#lLength2').val(),
        lBreath2: $('#lBreath2').val(),
        lgsm2: $('#lGSM2').val(),
        lrate2: $('#lrate2').val(),
        lSheet2: $('#lSheet2').val(),
        jQty: $('#jQty').val(),
        pRate: $('#pRate').val(),
        lamLength: $('#lamLength').val(),
        lamBreath: $('#lamBreath').val(),
        lamQty: $('#lamQty').val(),
        lamRate: $('#lamRate').val(),
        pastingLength: $('#pastingLength').val(),
        pastingBreath: $('#pastingBreath').val(),
        pastingQty: $('#pastingQty').val(),
        pastingRate: $('#pastingRate').val(),
        uvQty: $('#uvQty').val(),
        uvRate: $('#uvRate').val(),
        glitterQty: $('#glitterQty').val(),
        glitterRate: $('#glitterRate').val(),
        foilQty: $('#foilQty').val(),
        foilRate: $('#foilRate').val(),
        dgLength: $('#dgLength').val(),
        dgBreath: $('#dgBreath').val(),
        dgQty: $('#dgQty').val(),
        dgRate: $('#dgRate').val(),
        DPOPLength: $('#DPOPLength').val(),
        DPOPBreath: $('#DPOPBreath').val(),
        DPOPQty: $('#DPOPQty').val(),
        DPOPRate: $('#DPOPRate').val(),
        plateQty: $('#plateQty').val(),
        plateRate: $('#plateRate').val(),
        sheetRate: $('#SheetRate').val(),
        sheetQty: $('#SheetQty').val(),
        duplexNote: $('#duplexNote').val(),
        linearNote: $('#linearNote').val(),
        printjobNote: $('#printjobNote').val(),
        laminationNote: $('#laminationNote').val(),
        generalNote: $('#generalNote').val(),
        PunchingRate: $('#PunchingRate').val(),
        PunchingQty: $('#PunchingQty').val(),
        noPin: $('#noPin').val(),
        noRate: $('#noRate').val(),
        noQty: $('#noQty').val(),
        pasteRate: $('#pasteRate').val(),
        pasteQty: $('#pasteQty').val(),
        packingQty: $('#packingQty').val(),
        packingRate: $('#packingRate').val(),
        dieQty: $('#dieQty').val(),
        dieRate: $('#dieRate').val(),
        otherQty: $('#otherQty').val(),
        otherRate: $('#otherRate').val(),
        printC: $('#printC').val(),
        lamType: $('#lamType').val(),
        sheetType: $('#sheetType').val(),
        pinType: $('#pinType').val(),
        OTEplate: $('#OTEplate').val(),
        OTEdie: $('#OTEdie').val(),
        OTEdesign: $('#OTEdesign').val(),
        OTEphotography: $('#OTEphotography').val(),
        OTEblock: $('#OTEblock').val(),
        OTEpositive: $('#OTEpositive').val(),
        otherTitle: Number(otherTitle).toFixed(2),
        duplexTitle: duplexTitle ? Number(duplexTitle) : 0,
        lTitle: lTitle ? Number(lTitle) : 0,
        lTitle2: lTitle2 ? Number(lTitle2) : 0,
        pTitle: pTitle ? Number(pTitle) : 0,
        lamTitle: lamTitle ? Number(lamTitle) : 0,
        plateTitle: plateTitle ? Number(plateTitle) : 0,
        PunchingTitle: PunchingTitle ? Number(PunchingTitle) : 0,
        sheetTitle: sheetTitle ? Number(sheetTitle) : 0,
        noTitle: noTitle ? Number(noTitle) : 0,
        pasteTitle: pasteTitle ? Number(pasteTitle) : 0,
        packingTitle: packingTitle ? Number(packingTitle) : 0,
        dieTitle: dieTitle ? Number(dieTitle) : 0,
        dgTitle: dgTitle ? Number(dgTitle) : 0,
        glitterTitle: glitterTitle ? Number(glitterTitle) : 0,
        uvTitle: uvTitle ? Number(uvTitle) : 0,
        foilTitle: foilTitle ? Number(foilTitle) : 0,
        DPOPTitle: DPOPTitle ? Number(DPOPTitle) : 0,
        grandTotal: mainTotal ? mainTotal.toFixed(2) : 0.0,
        perBoxTotala: perBoxTotala ? perBoxTotala.toFixed(2) : 0.0,
      };
      data[quentity] = dataFQ;
      this.doc.set('allData', JSON.stringify(data));
      setTimeout(() => {
        this.isSaveVisible = true;
      }, 3000);
      if (mainTotal > 0) {
        if (perBoxTotala > 0) {

        this.doc.set(
          'perBoxTotal',
          perBoxTotala.toFixed(2)
        );
        }
      }

      return this.doc.insertOrUpdate().catch(this.handleError);
    },
    async quentityChanged(value, flag = false) {
      if(flag){
        value = $('#oldQu').val();
        if (value > 0) {

        } else {
          value = 1000;
        }
      }
      await this.doc.set('quentity', value);
      let quentity = await this.doc.get('quentity');
      let allData = await this.doc.get('allData');

      let data = {};
      if (allData) {
        data = JSON.parse(allData);
      }
      if (data[quentity]) {
        var oldData = data[quentity];
        if (oldData) {
          var sel = oldData.sheetType;
          if (sel === 'RUNNING GUM') {
            $('#pastingLength').closest('.formField').hide();
            $('#pastingBreath').closest('.formField').hide();
            $('#pastingQty').closest('.formField').hide();
            $('#pastingRate').closest('.formField').hide();
            $('#SheetRate').closest('.formField').show();
            $('#SheetQty').closest('.formField').show();
          } else {
            $('#pastingLength').closest('.formField').show();
            $('#pastingBreath').closest('.formField').show();
            $('#pastingQty').closest('.formField').show();
            $('#pastingRate').closest('.formField').show();
            $('#SheetRate').closest('.formField').hide();
            $('#SheetQty').closest('.formField').hide();
          }
          var selPly = oldData.lPly;
          if (selPly == 3) {
             $('.linearSecond').hide();
      $('#lLength2').val('');
      $('#lBreath2').val('');
      $('#lGSM2').val('');
      $('#lrate2').val('');
      $('#lSheet').val('');
          } else {
             $('.linearSecond').show();
           }
          $('#Dlength').val(oldData.length),
            $('#DBreath').val(oldData.DBreath),
            $('#DGSM').val(oldData.DGSM),
            $('#Drate').val(oldData.Drate),
            $('#DSheet').val(oldData.DSheet),
            $('#lLength').val(oldData.lLength),
            $('#lPly').val(oldData.lPly),
            $('#lBreath').val(oldData.lBreath),
            $('#lGSM').val(oldData.lgsm),
            $('#lrate').val(oldData.lrate),
            $('#lSheet').val(oldData.lSheet),
            $('#lLength2').val(oldData.lLength2),
            $('#lBreath2').val(oldData.lBreath2),
            $('#lGSM2').val(oldData.lgsm2),
            $('#lrate2').val(oldData.lrate2),
            $('#lSheet2').val(oldData.lSheet2),
            $('#jQty').val(oldData.jQty),
            $('#pRate').val(oldData.pRate),
            $('#lamLength').val(oldData.lamLength),
            $('#lamBreath').val(oldData.lamBreath),
            $('#lamQty').val(oldData.lamQty),
            $('#lamRate').val(oldData.lamRate),
            $('#pastingLength').val(oldData.pastingLength),
            $('#pastingBreath').val(oldData.pastingBreath),
            $('#pastingQty').val(oldData.pastingQty),
            $('#pastingRate').val(oldData.pastingRate),
            $('#dgLength').val(oldData.dgLength),
            $('#dgBreath').val(oldData.dgBreath),
            $('#dgQty').val(oldData.dgQty),
            $('#dgRate').val(oldData.dgRate),
            $('#DPOPLength').val(oldData.DPOPLength),
            $('#DPOPBreath').val(oldData.DPOPBreath),
            $('#DPOPQty').val(oldData.DPOPQty),
            $('#DPOPRate').val(oldData.DPOPRate),
            $('#plateQty').val(oldData.plateQty),
            $('#plateRate').val(oldData.plateRate),
            $('#SheetRate').val(oldData.sheetRate),
            $('#SheetQty').val(oldData.sheetQty),
            $('#duplexNote').val(oldData.duplexNote),
            $('#laminationNote').val(oldData.laminationNote),
            $('#linearNote').val(oldData.linearNote),
            $('#printjobNote').val(oldData.printjobNote),
            $('#generalNote').val(oldData.generalNote),
            $('#PunchingRate').val(oldData.PunchingRate),
            $('#PunchingQty').val(oldData.PunchingQty),
            $('#noPin').val(oldData.noPin),
            $('#noRate').val(oldData.noRate),
            $('#noQty').val(oldData.noQty),
            $('#pasteRate').val(oldData.pasteRate),
            $('#pasteQty').val(oldData.pasteQty),
            $('#packingQty').val(oldData.packingQty),
            $('#packingRate').val(oldData.packingRate),
            $('#dieQty').val(oldData.dieQty),
            $('#dieRate').val(oldData.dieRate),
            $('#foilQty').val(oldData.foilQty),
            $('#foilRate').val(oldData.foilRate),
            $('#vuQty').val(oldData.vuQty),
            $('#vuRate').val(oldData.vuRate),
            $('#glitterQty').val(oldData.glitterQty),
            $('#glitterRate').val(oldData.glitterRate),
            $('#otherQty').val(oldData.otherQty),
            $('#otherRate').val(oldData.otherRate),
            $('#printC').val(oldData.printC),
            $('#lamType').val(oldData.lamType),
            $('#sheetType').val(oldData.sheetType),
            $('#pinType').val(oldData.pinType),
            $('#otherTitle').val(oldData.otherTitle);
          $('#duplexTitle').val(oldData.duplexTitle);
          $('#lTitle').val(oldData.lTitle);
          $('#lTitle2').val(oldData.lTitle2);
          $('#pTitle').val(oldData.pTitle);
          $('#lamTitle').val(oldData.lamTitle);
          $('#plateTitle').val(oldData.plateTitle);
          $('#PunchingTitle').val(oldData.PunchingTitle);
          $('#sheetTitle').val(oldData.sheetTitle);
          $('#noTitle').val(oldData.noTitle);
          $('#pasteTitle').val(oldData.pasteTitle);
          $('#packingTitle').val(oldData.packingTitle);
          $('#dieTitle').val(oldData.dieTitle);
          $('#otherTitle').val(oldData.otherTitle);
          $('#foilTitle').val(oldData.foilTitle);
          $('#uvTitle').val(oldData.uvTitle);
          $('#glitterTitle').val(oldData.glitterTitle);
          $('#DPOPTitle').val(oldData.DPOPTitle);
          $('#dgTitle').val(oldData.dgTitle);
          $('#OTEplate').val(oldData.OTEplate);
          $('#OTEdie').val(oldData.OTEdie);
          $('#OTEdesign').val(oldData.OTEdesign);
          $('#OTEphotography').val(oldData.OTEphotography);
          $('#OTEblock').val(oldData.OTEblock);
          $('#OTEpositive').val(oldData.OTEpositive);
          $('#grandTotal').val(oldData.grandTotal);
          this.doc.set('grandTotal', oldData.grandTotal);
          this.doc.set('perBoxTotal', oldData.perBoxTotal);
        }
      }
    },
    getSavePath() {
      return new Promise((resolve) => {
        remote.dialog.showSaveDialog(
          remote.getCurrentWindow(),
          {
            title: this._('Select folder'),
            defaultPath: `${this.name}.pdf`,
          },
          (filePath) => {
            if (filePath) {
              if (!filePath.endsWith('.pdf')) {
                filePath = filePath + '.pdf';
              }
              resolve(filePath);
            }
          }
        );
      });
    },
    makePDF() {
      this.isBeforePrint = true;
    },
    async printItem() {
      var Dlength = $('#Dlength').val();
      var DSheet = $('#DSheet').val();
      var DBreath = $('#DBreath').val();
      var DGSM = $('#DGSM').val();
      var lLength = $('#lLength').val();
      var lBreath = $('#lBreath').val();
      var lSheet = $('#lSheet').val();
      var lGSM = $('#lGSM').val();
      var lLength2 = $('#lLength2').val();
      var lBreath2 = $('#lBreath2').val();
      var lSheet2 = $('#lSheet2').val();
      var lGSM2 = $('#lGSM2').val();
      var lamLength = $('#lamLength').val();
      var lamBreath = $('#lamBreath').val();
      var lamQty = $('#lamQty').val();
      var DPOPLength = $('#DPOPLength').val();
      var DPOPBreath = $('#DPOPBreath').val();
      var DPOPQty = $('#DPOPBreath').val();
      var dgLength = $('#dgLength').val();
      var dgBreath = $('#dgBreath').val();
      var dgQty = $('#dgQty').val();
      var pastingLength = $('#pastingLength').val();
      var pastingBreath = $('#pastingBreath').val();
      var pastingQty = $('#pastingQty').val();
      var pinType = $('#pinType').val();
      var noQty = $('#noQty').val();
      if ('Running Gum' == $('#sheetType').val()) {
          pastingQty = $('#SheetQty').val();
      }
      // var asd
      this.isPrinting = true;
      setTimeout(async () => {
        $('#duplexL').text(Dlength);
        $('#duplexQ').text(DSheet);
        $('#duplexB').text(DBreath);
        $('#duplexG').text(DGSM);
        $('#linearL').text(lLength);
        $('#linearB').text(lBreath);
        $('#linearG').text(lGSM);
        $('#linearQ').text(lSheet);
        $('#linearL2').text(lLength2);
        $('#linearB2').text(lBreath2);
        $('#linearG2').text(lGSM2);
        $('#linearQ2').text(lSheet2);
        $('#laminationL').text(lamLength);
        $('#laminationB').text(lamBreath);
        $('#laminationQ').text(lamQty);
        $('#DPOPL').text(DPOPLength);
        $('#DPOPB').text(DPOPBreath);
        $('#DPOPQ').text(DPOPQty);
        $('#DGL').text(dgLength);
        $('#DGB').text(dgBreath);
        $('#DGQ').text(dgQty);
        $('#SPL').text(pastingLength);
        $('#SPB').text(pastingBreath);
        $('#SPQ').text(pastingQty);
        $('#pin').text(pinType);
        $('#pinQ').text(noQty);
        let destination = await this.getSavePath();

        let html = this.$refs.printContainer.innerHTML;
        makePDF(html, destination);
        this.isPrinting = false;
        this.isBeforePrint = false;
      }, 1000);
    },
    onSubmitClick() {
      let message =
        this.doctype === 'SalesInvoice'
          ? this._('Are you sure you want to submit this invoice?')
          : this._('Are you sure you want to submit this bill?');
      showMessageDialog({
        message,
        buttons: [
          {
            label: this._('Submit'),
            action: () => {
              // this.doc.submit().catch(this.handleError);
            },
          },
          {
            label: this._('Cancel'),
            action() {},
          },
        ],
      });
    },
    handleError(e) {
      handleErrorWithDialog(e, this.doc);
    },
    openInvoiceSettings() {
      openSettings('Invoice');
    },
    routeToList() {
      this.$router.push(`/list/${this.doctype}`);
    },
    formattedValue(fieldname, doc) {
      if (fieldname === 'perBoxTotal') {
        var perBoxTotala = this.doc.get('grandTotal') / this.doc.get('quentity');
        if (perBoxTotala > 0) {

        this.doc.set(
          'perBoxTotal',
          perBoxTotala.toFixed(2)
        );
        }
      }
      if (!doc) {
        doc = this.doc;
      }
      let df = doc.meta.getField(fieldname);
      return frappe.format(doc[fieldname], df, doc);
    },
  },
};
</script>
