<template>
 <div class="flex flex-col overflow-y-hidden">
    <PageHeader>
      <h1 slot="title" class="text-2xl font-bold">
        {{ _('Settings') }}
      </h1>
    </PageHeader>
    <div class="px-8">
      <div class="border-t"></div>
    </div>
    <div class="flex-1 px-8 overflow-y-auto">
      <div class="my-6">
        <h2 class="font-medium"></h2>
        <div class="flex flex-wrap mt-4 -mx-2">
          <div
            class="flex-shrink-0 w-full my-2 px-2 md:w-1/3 sm:w-1/2"
            v-for="item in sections"
            :key="item.label"
          >
            <div
              class="flex flex-col justify-between h-full p-6 border rounded-lg cursor-pointer hover:shadow-md"
            >
              <div>
               
                <h3 class="font-medium">{{ item.label }}</h3>
                <p class="mt-2 text-sm text-gray-800">
                  {{ item.description }}
                </p>
              </div>
              <div
                class="flex mt-2 overflow-hidden">
                <Button
                  v-if="item.action"
                  class="leading-tight"
                  type="primary"
                  v-on="
                    item.action
                      ? {
                          click: () => {
                            item.action();
                            $router.replace('/update-settings')
                            activeCard = null;
                          }
                        }
                      : null
                  "
                >
                  <span class="text-base text-white">
                    Update
                  </span>
                </Button>
              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import frappe from 'frappejs';
import PageHeader from '@/components/PageHeader';
import Button from '@/components/Button';
import FormControl from '@/components/Controls/FormControl';
import DropdownWithActions from '@/components/DropdownWithActions';
import BackLink from '@/components/BackLink';

export default {
name: 'Setting',
props: ['doctype', 'name'],
components: {
  PageHeader,
  Button,
  FormControl,
  DropdownWithActions,
  BackLink,
},
provide() {
  return {
    doctype: this.doctype,
    name: this.name,
  };
},
data() {
  return {
    doc: null,
    dupVal: '',
    dupTitle: '',
    linearVal: '',
    linearTitle: '',
    printVal: '',
    printTitle: '',
    lamVal: '',
    lamTitle: '',
    sheetVal: '',
    sheetTitle: '',
    pinVal: '',
    pinTitle: '',
    printSettings: null,
    duplexData: [],
    linearData: [],
    printData: [],
    lamData: [],
    sheetData: [],
    pinData: [],
    companyName: null,
    sections: [
      {label: 'Duplex', action: () => {localStorage.setItem('settingsUp', 'duplex')}},
      {label: 'Liner', action: () => {localStorage.setItem('settingsUp', 'linear')}},
      {label: 'Print', action: () => {localStorage.setItem('settingsUp', 'print')}},
      {label: 'Laminates', action: () => {localStorage.setItem('settingsUp', 'laminate')}},
      {label: 'Pin', action: () => {localStorage.setItem('settingsUp', 'pinning')}},
    ]
  };
},
computed: {
  meta() {
    return frappe.getMeta('SalesInvoice');
  },
},
async mounted() {
  var duplexStr = localStorage.getItem('duplex');
  var linearStr = localStorage.getItem('linear');
  var print = localStorage.getItem('print');
  var laminate = localStorage.getItem('laminate');
  var pinning = localStorage.getItem('pinning');
  this.duplexData = duplexStr ? JSON.parse(duplexStr) : [];
  this.linearData = linearStr ? JSON.parse(linearStr) : [];
  this.printData = linearStr ? JSON.parse(print) : [];
  this.lamData = linearStr ? JSON.parse(laminate) : [];
  this.pinData = linearStr ? JSON.parse(pinning) : [];
},
methods: {
   saveDuplexLinear() {
    localStorage.setItem('duplex', JSON.stringify(this.duplexData));
    localStorage.setItem('linear', JSON.stringify(this.linearData));
    localStorage.setItem('print', JSON.stringify(this.printData));
    localStorage.setItem('laminate', JSON.stringify(this.lamData));
    localStorage.setItem('pinning', JSON.stringify(this.pinData));
  },
  async onSaveClick() {},
  addDuplex() {
    this.duplexData.push({
      value: this.dupVal,
      title: this.dupTitle
    });
    this.saveDuplexLinear();
  },
  addLinear() {
  this.linearData.push({
      value: this.linearVal,
      title: this.linearTitle
    });
    this.saveDuplexLinear();
  },
  addlam() {
  this.lamData.push({
      value: this.lamVal,
      title: this.lamTitle
    });
    this.saveDuplexLinear();
  },
  addPrint() {
  this.printData.push({
      value: this.printVal,
      title: this.printTitle
    });
    this.saveDuplexLinear();
  },
  addSheet() {
  this.sheetData.push({
      value: this.sheetVal,
      title: this.sheetTitle
    });
    this.saveDuplexLinear();
  },
  addPin() {
  this.pinData.push({
      value: this.pinVal,
      title: this.pinTitle
    });
    this.saveDuplexLinear();
  },
 
  getSavePath() {
    return new Promise((resolve) => {
      remote.dialog.showSaveDialog(
        remote.getCurrentWindow(),
        {
          title: this._('Select folder'),
          defaultPath: `${this.name}.pdf`,
        },
        (filePath) => {
          if (filePath) {
            if (!filePath.endsWith('.pdf')) {
              filePath = filePath + '.pdf';
            }
            resolve(filePath);
          }
        }
      );
    });
  },
  async onPrintClick() {
    // return this.doc.insertOrUpdate().catch(this.handleError);
  },
  async onCustomerChange() {
    // return this.doc.insertOrUpdate().catch(this.handleError);
  },
  async onItemChanged(e) {
    if (!e) {
      return;
    }
    const selectedItem = await frappe.getDoc('SalesInvoice', e);
    const priceData = selectedItem.allData
      ? JSON.parse(selectedItem.allData)
      : {};
    let allData = [];
    for (let a in priceData) {
      const p = {
        price: a,
        data: priceData[a],
      };
      allData.push(p);
    }
    selectedItem.priceData = allData;
    this.selectedItems.push(selectedItem);
    // return this.doc.insertOrUpdate().catch(this.handleError);
  },
},
};
</script>
