<template>
  <div class="flex flex-row" v-if="loader">
  <div class="flex flex-col" :class="{ 'w-3/5': editing,'w-full': !editing }">
    <PageHeader>
      <h1 slot="title" class="text-2xl font-bold">Settings</h1>
      <template slot="actions"> 
       <Button class="ml-2" :icon="true" type="primary" @click="makeNewDoc">
          <feather-icon name="plus" class="w-4 h-4 text-white" />
        </Button>
      </template>
    </PageHeader>
  
    <div class="px-5 pb-16 text-base flex flex-col overflow-y-hidden">
      <div class="flex px-3">
        <div class="py-4 mr-3 w-7" v-if="hasImage"></div>
        <Row
          class="flex-1 text-gray-700"
          :columnCount="columns.length"
          gap="1rem"
        >
          <div
            v-for="column in columns"
            :key="column.label"
            class="py-4 truncate"
            :class="
              ['Float', 'Currency'].includes(column.fieldtype)
                ? 'text-right'
                : ''
            "
          >
            {{ column }}
          </div>
        </Row>
      </div>
      <div class="overflow-y-auto">
        <div
          class="px-3 flex hover:bg-gray-100 rounded-md"
          v-for="(doc, index) in data"
          :key="doc.title"
        >
          <div class="w-7 py-4 mr-3" v-if="hasImage">
            <Avatar :imageURL="doc.image" :label="doc.name" />
          </div>
          <Row
            gap="1rem"
            class="cursor-pointer text-gray-900 flex-1"
            @click.native="openForm(doc, index)"
            :columnCount="columns.length"
          >
            <span
              style="padding: 10px 0"
              v-for="column in columns"
              :key="column.label"
              :class="{
                'text-right': ['Float', 'Currency'].includes(column.fieldtype),
              }"
              >{{ doc[column] }}</span
            >
          </Row>
        </div>
      </div>
    </div>
    
  </div>
  <div class="border-l h-full w-2/5" v-if="editing">
      <div class="flex items-center justify-between px-4 pt-4">
        <div class="flex items-center">
          <Button :icon="true" @click="routeToPrevious">
            <feather-icon name="x" class="w-4 h-4" />
          </Button>
        </div>
        <div class="flex items-stretch">
          <Button
            @click="submitDoc"
            type="primary"
            
            class="ml-2 text-xs"
          >
            {{ _('Submit') }}
          </Button>
          <Button v-if="!isAdding"
            @click="deletDoc"
            type="primary"
            
            class="ml-2 text-xs"
          >
            {{ _('Remove') }}
          </Button>
        </div>
      </div>

      <div class="grid border-b" style="grid-template-columns: 1.1fr 2fr">
        <div class="py-2 pl-4 flex text-gray-600">
          <div class="py-1">Title</div>
        </div>
        <div class="py-2 pr-4">
          <div size="small" class="">
            <input v-model="title"
              type="text"
              class="
                px-2
                py-1
                focus:outline-none focus:bg-gray-200
                rounded
                w-full
                text-gray-900
                placeholder-gray-400
                border-zinc-200
                rounded
              "
               style="    outline: 2px solid transparent;
    outline-offset: 2px;    --bg-opacity: 1;
    background-color: #e9ebed;"
            />
          </div>
          <!---->
        </div>
      </div>
      <div class="grid border-b" style="grid-template-columns: 1.1fr 2fr">
        <div class="py-2 pl-4 flex text-gray-600">
          <div class="py-1">Value</div>
        </div>
        <div class="py-2 pr-4">
          <div size="small" class="">
            <input v-model="value"
              type="text" style="    outline: 2px solid transparent;
    outline-offset: 2px;    --bg-opacity: 1;
    background-color: #e9ebed;"
              class="
                px-2
                py-1
                focus:outline-none focus:bg-gray-200
                rounded
                w-full
                text-gray-900
                placeholder-gray-400
                
                border-zinc-200
                rounded
              "
            />
          </div>
          <!---->
        </div>
      </div>
    </div>
    </div>
</template>
<script>
import frappe from 'frappejs';
import Row from '@/components/Row';
import Button from '@/components/Button';
import PageHeader from '@/components/PageHeader';
import ListCell from './ListCell';
import Avatar from '@/components/Avatar';
import { openQuickEdit } from '@/utils';

export default {
  name: 'Listsettings',
  props: ['listConfig', 'filters'],
  components: {
    PageHeader,
    Row,
    ListCell,
    Button,
    Avatar,
  },
  data() {
    return {
      data: [],
      editing: false,
      isAdding: false,
      loader: true,
      currentSetting: '',
      title: '',
      value: '',
      index: 0,
    };
  },
  computed: {
    columns() {
      return this.prepareColumns();
    },
    meta() {},
    hasImage() {
      return false;
    },
  },
  async mounted() {
     var settingType = localStorage.getItem('settingsUp');
      this.currentSetting = settingType;
      var duplexStr = localStorage.getItem(settingType);
      this.data = duplexStr ? JSON.parse(duplexStr) : [];
      setInterval(() => {
        var settingTypeNew = localStorage.getItem('settingsUp');
        if(settingTypeNew !== this.currentSetting) {
          this.currentSetting = settingTypeNew;
          var duplexStr = localStorage.getItem(settingTypeNew);
          this.data = duplexStr ? JSON.parse(duplexStr) : [];
        }
      }, 1000);
  },
  methods: {
    async setupColumnsAndData() {
     
    },
    openForm(doc, index) {
     this.editing = true;
     this.title = doc.title;
     this.value = doc.value;
     this.index = index;
     this.isAdding = false;
    },
    prepareColumns() {
      return ['title', 'value'];
    },
    makeNewDoc() {
    this.editing = true;
     this.title = '';
     this.value = '';
     this.index = null;
     this.isAdding = true;
    },
    routeToPrevious() {
      this.editing = false;
    },
    submitDoc() {
      if (this.index >= 0 && !this.isAdding) {
        this.data[this.index] = {
          title: this.title,
          value: this.value
        }
      } else {
        this.data.push({
          title: this.title,
          value: this.value
        });
      }
      localStorage.setItem(this.currentSetting, JSON.stringify(this.data));
      this.editing = false;
      this.isAdding = false;
      this.setupColumnsAndData();
    },
    deletDoc() {
      if (this.index >= 0) {
        this.data.splice(this.index,1);
      }
      localStorage.setItem(this.currentSetting, JSON.stringify(this.data));
      this.editing = false;
      this.setupColumnsAndData();
    }
  },
};
</script>
