<template>
  <div class="px-5 pb-16 text-base flex flex-col overflow-y-hidden">
    <div class="flex px-3">
      <div class="py-4 mr-3 w-7" v-if="hasImage"></div>
      <Row
        class="flex-1 text-gray-700"
        :columnCount="columns.length"
        gap="1rem"
      >
        <div
          v-for="column in columns"
          :key="column.label"
          class="py-4 truncate"
          :class="
            ['Float', 'Currency'].includes(column.fieldtype) ? 'text-right' : ''
          "
        >
          {{ column.label }}
        </div>
      </Row>
    </div>
    <div class="overflow-y-auto">
      <div
        class="px-3 flex hover:bg-gray-100 rounded-md"
        v-for="doc in data"
        :key="doc.name"
      >
        <div class="w-7 py-4 mr-3" v-if="hasImage">
          <Avatar :imageURL="doc.image" :label="doc.name" />
        </div>
        <Row
          gap="1rem"
          class="cursor-pointer text-gray-900 flex-1 relative"
          @click.native="openForm(doc)"
          :columnCount="columns.length"
        >
          <ListCell
            v-for="column in columns"
            :key="column.label"
            :class="{
              'text-right': ['Float', 'Currency'].includes(column.fieldtype)
            }"
            :doc="doc"
            :column="column"
          ></ListCell>
          <span @click="deleteDoc($event,doc)" class="deleteButton">X</span>          

        </Row>
      </div>
    </div>

     <div v-if="isDeleteConfirmation" class="absolute printPopupMain">
      <div v-if="isDeleteConfirmation" class="relative relativePrint">
        <div
          v-if="isDeleteConfirmation"
          class="
            absolute
            top-20
            mx-auto
            p-5
            border
            w-96
            shadow-lg
            rounded-md
            bg-white
            popupModelPrint
          "
        >
          <div class="mt-3 text-center">
            <h3 class="text-lg leading-6 font-medium text-gray-900">Are you sure you want to delete this record?</h3>

            <div class="items-center px-4 py-3">
              <button
                id="ok-btn"
                type="primary"
                @click="deleteItem"
                class="
                  px-4
                  py-2
                  bg-green-500
                  text-white text-base
                  font-medium
                  rounded-md
                  w-full
                  shadow-sm
                  hover:bg-green-600
                  focus:outline-none focus:ring-2 focus:ring-green-300
                "
              >
                OK
              </button>
              <button
                id="cancel-btn"
                @click="cancelDelete"
                class="
                  mt-3
                  px-4
                  py-2
                  bg-red-500
                  text-white text-base
                  font-medium
                  rounded-md
                  w-full
                  shadow-sm
                  hover:bg-green-600
                  focus:outline-none focus:ring-2 focus:ring-green-300
                "
              >
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import frappe from 'frappejs';
import Row from '@/components/Row';
import ListCell from './ListCell';
import Avatar from '@/components/Avatar';
import { openQuickEdit } from '@/utils';

export default {
  name: 'List',
  props: ['listConfig', 'filters'],
  components: {
    Row,
    ListCell,
    Avatar
  },
  watch: {
    listConfig(oldValue, newValue) {
      if (oldValue.doctype !== newValue.doctype) {
        this.setupColumnsAndData();
      }
    }
  },
  data() {
    return {
      data: [],
      isDeleteConfirmation: false,
      deleteItemName: ''
    };
  },
  computed: {
    columns() {
      return this.prepareColumns();
    },
    meta() {
      return frappe.getMeta(this.listConfig.doctype);
    },
    hasImage() {
      return this.meta.hasField('image');
    }
  },
  async mounted() {
    await this.setupColumnsAndData();
    frappe.db.on(`change:${this.listConfig.doctype}`, () => {
      this.updateData();
    });
  },
  methods: {
    async setupColumnsAndData() {
      this.doctype = this.listConfig.doctype;
      await this.updateData();
    },
    openForm(doc) {
      if (this.listConfig.formRoute) {
        this.$router.push(this.listConfig.formRoute(doc.name));
        return;
      }
      openQuickEdit({
        doctype: this.doctype,
        name: doc.name
      });
    },
    async deleteDoc(e, doc) {
      e.stopPropagation();
      this.deleteItemName = doc.name;
      this.isDeleteConfirmation = true;

    },
    async deleteItem() {
      this.isDeleteConfirmation = false;
      await frappe.db.delete(this.doctype, this.deleteItemName);
    },
    cancelDelete() {
      this.isDeleteConfirmation = false;
    },
    async updateData(filters) {
      if (!filters) filters = this.getFilters();
      this.data = await frappe.db.getAll({
        doctype: this.doctype,
        fields: ['*'],
        filters,
        orderBy: 'creation'
      });
    },
    getFilters() {
      let filters = {};
      Object.assign(filters, this.listConfig.filters || {});
      Object.assign(filters, this.filters);
      return filters;
    },
    prepareColumns() {
      return this.listConfig.columns
        .map(col => {
          if (typeof col === 'string') {
            const field = this.meta.getField(col);
            if (!field) return null;
            return field;
          }
          return col;
        })
        .filter(Boolean);
    }
  }
};
</script>
